@font-face {
    font-family: GothamRoundedBold;
    src: url('GothamRoundedBold.ttf'); 
}
@font-face {
    font-family: GothamRounded-BoldItalic;
    src: url('GothamRounded-BoldItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedBook;
    src: url('GothamRoundedBook.ttf'); 
}
@font-face {
    font-family: GothamRounded-BookItalic;
    src: url('GothamRounded-BookItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedLight;
    src: url('GothamRoundedLight.ttf'); 
}
@font-face {
    font-family: GothamRounded-LightItalic;
    src: url('GothamRounded-LightItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedMedium;
    src: url('GothamRoundedMedium.ttf'); 
}
@font-face {
    font-family: GothamRounded-MediumItalic;
    src: url('GothamRounded-MediumItalic.otf'); 
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

.contenedor-general{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-color: #E4E4E4;
    height: 100vh;
    grid-template-areas:
    "area1 area1 area1 area1 area2 area2 area2 area2"
    "area1 area1 area1 area1 area2 area2 area2 area2"; 
}

.contenedor-central{
    grid-area: area1;
    background-color: #E4E4E4;
    position: relative;
}
    .icono{
        width: 60px;
        height: 60px;
        margin: 20px; 
    }

    .icono > img{
        width: 100%;
        height: 100%;
    }

    .img-prin{
        width: 71%;
        min-width: 450px;
        margin: -70px auto ; 
        z-index: 2;
        left: 0;
        right: 0;
        position:absolute; 
    }

    #img-re{
        width: 100%;
    }
    
    .img-borde-inf{
        width: 50%;
        position:absolute; 
        bottom:0; 
        z-index: 1;

    }

    #img-bo{
        width: 100%;
        
    }

    #img-su{
        display: none;
        
    }
    #img-bo2{
        display: none;
        
    }

.contenedor-secundario{
    grid-area: area2;
    background-color: #E4E4E4;
    position: relative;
}   
    form{
       display: grid;
       margin: 210px auto 0px;
       grid-template-areas:
        "area3"
        "."
        "area4"
        "area5"
        "area6"
        "area7"; 

    }
    .div1{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        "rs1 rs1 . . . . ."
        "rs2 rs2 . . . . ."
        ". . . rs3 rs3 rs3 .";

    }

    .respon-1{
        grid-area: rs1;
     }
 
     .respon-2{
         grid-area: rs2;
     }
 
     .respon-3{
         grid-area: rs3;
     }

     .div2{
         display: grid;
        grid-template-columns: repeat(7,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        "area7 area7 . . . . ."
        "area8 area8 . area9 area9 . ."
        "area10 area10 . area11 area11 . .";
    }

    #dni_re{
        width: 100%;
    }

    #celu_re{
        width: 100%
    }

    .sub-titu{
        grid-area: area7;
    }

    .titu2{
        grid-area: area8;
    }

    .titu3{
        grid-area: area9;
    }

    .titu4{
        grid-area: area10;
    }

    .titu5{
        grid-area: area11;
    }
    .div3{
        display: grid;
        row-gap: 10px;
        margin-top: 10px;
    }
    #otro_1{
        width: 100%;
    }



    #corre_re{
        width: 60%;
    }

    .div4{
        display: grid;
        grid-template-columns: repeat(8,1fr);
        row-gap: 10px;
        width: 75%;
        grid-template-areas:
        "area12 area13 area13 area13 . area14 . .";
    }
    .titu6{
        grid-area: area12;
    }
    .titu7{
        grid-area: area13;
        margin-top: 20px;
    }
    .titu8{
        grid-area: area14;
        margin-top: 10px;
    }
    /*
    

    form > .img-secun{
        width: 150px;
        height: 50px;
        background: #70c3dd;  
    }
    #otro_1{
        width: 30%;
    }

    #dni_re{
        width: 30%;
    }

    #celu_re{
        width: 50%
    }

    #corre_re{
        width: 68%;
    }

    .sub-titu{
        margin-bottom: 10px;
        margin-left: 30px;
    }

    .ref-titu{
        margin-top: 70px;
        font-size: 20px;
    }

    .titu2{
        display: flex;
        
    }

    .sube{
        margin-top: -70px;
        margin-left: 270px;
    }

    .derecha{
        margin-left: 240px;
        margin-bottom: 20px;
    }
    .ter{
        margin-top: 45px;
        margin-left: 40px;
    }
    */
    #_checkbox {
    display: none;
    }
       
    .label1 {
        position: absolute;
        width: 30px;
        height: 30px;
        margin-top: 30px;
        background-color: #D98918;
        transform: translateY(-50%);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
        z-index: 1;
    }
    
    .label1:active:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 23px;
        margin-top: 15px;
        margin-left: 3px;
        background-color: #fff;
        transform: translateY(-50%);
        border-radius: 50%;
        box-shadow: inset 0 7px 10px #ffbeb8;
        transition: 0.2s ease width, 0.2s ease height;
    }
    
    .label1:hover:before {
        transform: translateY(-50%) scale(1.1);
        box-shadow: inset 0 7px 10px #ff9d96;
    }
    
    .label1:active {
        transform: translateY(-50%) scale(0.9);
    }
    
    #tick_mark {
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        width: 15px;
        height: 18px;
        margin: 0 auto;
        margin-left: 5px;
        transform: rotateZ(-40deg);
    }
    
    #tick_mark:before, #tick_mark:after {
        content: "";
        position: absolute;
        background-color: #fff;
        border-radius: 2px;
        opacity: 0;
        transition: 0.2s ease transform, 0.2s ease opacity;
    }
    
    #tick_mark:before {
        left: 0;
        bottom: 0;
        width: 4px;
        height: 10px;
        box-shadow: -2px 0 5px rgba(0,0,0,0.23);
        transform: translateY(-68px)
    }
    
    #tick_mark:after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.23);
        transform: translateX(78px)
    }
    
    #_checkbox:checked + label {
        background-color: #D98918;
    }
    
    #_checkbox:checked + label:before {
        width: 0;
        height: 0;
    }
    
    #_checkbox:checked + label #tick_mark:before, #_checkbox:checked + label #tick_mark:after {
        transform: translate(0);
        opacity: 1;
    }



    input[type="text"]{
      appearance: none;
      background-color: none;
      border: 1px solid #0074C5;
      line-height: 0;
      font-size: 17px;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: #0074C5;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 2;
    }

    input[type="text"]:hover{
        border: 1px solid #0074C5;
    }
    label{
        z-index: 2;
    }
    .img-secun{
        width: 50%;
        position:absolute; 
        top:0; 
        z-index: 1;
        right: 0;
    }

    .img-secun-refe{
        width: 50%;
        right: 0;
        left: 0;
        z-index: 1;
        margin: 0 auto;
        position:absolute;
        margin-top: 70px;
    }

    #img-su2{
        width: 100%;
    }

    #img-ref{
        width: 100%;
    }   
    
    /*
    @media (max-width: 750px) {
        
        
    }
    
    @media (max-width: 600px) {
    
        
    
    }
    
    @media screen and (max-width: 770px){
        
    
    }
    
    @media screen and (max-width: 600px){
        
    }
    */

@media(max-width: 450px){
    form{
        display: grid;
        margin: 100px auto 0px;
    }

    .contenedor-general{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        height: 100vh;
        width: 110vw;
        grid-template-areas:
        "area1"
        "area2"; 
    }   
    .contenedor-central{
        grid-area: area1;
        /*grid-column: 2/4;*/
        background-color: #E4E4E4;
        position: relative;
        height: 80vh;
    }

    #img-bo{
        display: none;
    }

    .img-borde-sup{
        width: 50%;
        position:absolute; 
        top:0; 
        right: 0;
        z-index: 1;

    }
    #img-su{
        width: 100%;
        display: block;
    }

    #img-su2{
        display: none;
    }

    #img-bo2{
        width: 100%;
        display: block;
        
    }


    .img-secun-refe {
        width: 60%;
        margin-top: 0px;
    }

    .div1{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". rs1 rs1 . . . ."
        ". rs2 rs2 . . . ."
        ". . . . rs3 rs3 rs3";
    }

    .respon-1{
       grid-area: rs1;
    }

    .respon-2{
        grid-area: rs2;
    }

    .respon-3{
        grid-area: rs3;
    }

    #otro_1{
        width: 100%;
    }

    .div2{
        grid-template-columns: repeat(7,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". area7 area7 . . . ."
        ". area8 area8 . area9 area9 ."
        ". area10 area10 . area11 area11 .";
    }

    #dni_re{
        width: 100%;
    }

    #celu_re{
        width: 100%
    }

    .div3{
        grid-template-columns: repeat(6,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". rs4 rs4 rs4 rs4 ."
        ". rs5 rs5 rs5 rs5 .";
    }

    .respon-4{
        grid-area: rs4;
    }

    .respon-5{
        grid-area: rs5;
    }

    #corre_re{
        width: 100%;
    }

    .div4{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". rs6 rs7 rs7 rs7 rs7 rs8 rs8 . .";
        margin-bottom: 50px;
    }

    .titu6{
        grid-area: rs6;
        z-index: 2;
    }

    .titu7{
        grid-area: rs7;
    }

    .titu8{
        grid-area: rs8;
       
    }

}
