application/config/config.php
application/config/database.php
system/
vendor/
vendor/phpoffice/
fotos/
fondos/
examen/
archivo/
resultadoifv/
images/
intro/
repaso
slide/
temas/
movimientos/
documentos_alumno/
imagen_empresa/
documento_gastos_sunat/
documento_despesa/
registros_ceba/
registros_fv/
documento_ca/
documento_matricula/
documento_temporal_matricula/
documento_temporal_documento/
documento_alumno_ep1/
documento_alumno_ep2/
documento_alumno_fv/
foto_matriculado/
foto_docente/
foto_subtipo_LA/
foto_tipo_producto_LA/
fotocheck_matriculadosifv/
documento_alumno_matriculado/
documento_alumno_bl1/
documento_matricula_bl/
documento_soporte/
cargo_documento/
extranet/
documentos_ifv/Documentos_Alum_Ifv
.htaccess
documento_contrato/
imgcomunicaion/
img_web_ifv/
triptico/
resultadoifv/
archivo_bd/
Grupo_Horario/
foto_tipo_FV/
foto_colaborador/
contrato_colaborador/
cv_colaborador/
documento_grupo/
documento_induccion/
dni_colaborador/
documento_correo_efsrt/
documento_firma_contrato_efsrt/
documento_boleta_bl/
documento_evaluacion_basica_efsrt/
prueba_archivo/
documento_mailing/
cargo_ca_documento_temporal/
cargo_ca_documento/
documento_colaborador_gl/
documento_colaborador_ll/
documento_colaborador_ls/
documento_colaborador_bl/
colaborador/observacion/
.idea/
template/img
documento_colaborador/
DocumentosFormulario/
pruebas/
alumno/
