@font-face {
    font-family: Gotham-Book;
    src: url('../../assets/fonts/Gotham-Book.otf'); 
  }
  @font-face {
      font-family: Gotham-Bold;
      src: url('../../assets/fonts/Gotham-Bold.otf'); 
    }
.animaterr
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}
.action-buttonn
{
	position: relative;
	/*padding: 10px 40px; */
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 0px;
	font-size: 25px;
	color: #FFF;
    text-decoration: none;
    -webkit-box-shadow: -1px 2px 9px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 9px 4px rgba(0,0,0,0.75);
    box-shadow: -1px 2px 9px 4px rgba(0,0,0,0.75);
}
.yellowoow
{
	background-color: #ef8900;
/*	border-bottom: 5px solid #ef8900;
    text-shadow: 0px -2px #131313;*/
}
.posicionamiento{
    position: absolute;
    left: 30px;
    top: 307px;
}

.action-buttonn:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}
.devicer {
    width: 230px;
    display: block;
    height: 1px;
    background-color: #ffffff;
    /* margin: 1px auto 0; */
}
.padre {
    display: flex;
}
.hijo1 {
    width: 245px;
    padding: 12px 0px 0px 10px;
}
.hijo2 {
    width: 80px;
}
.padre1{
    background: #FFF;
    /* height: 150px;
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.hijo3 {
    width: 100%;
    padding: 0px 0px 0px 10px;
	color: rgb(0, 0, 0);
}
.hijo4 {
    width: 93px;
    color: rgb(0, 0, 0);
    padding: 0px 10px 0px 0px;
}
.imaaa{
    width: 100%;
    padding: 13px 0px 0px 0px;
}
.grado {
    font-size: 34px;
    margin-bottom: 0px;
    height: 49px;
    font-family: 'Gotham-Bold';
}
.unidad{
    font-size: 25px;
    margin-bottom: 0px;
    font-family: 'Gotham-Book' ;
}
.nom_curso{
    font-size: 13px;
    text-shadow: 0px 0px #131313;
    margin-bottom: 0px;
    font-family: 'Gotham-Book' ;
}
.num_curso {
    font-size: 13px;
    text-shadow: 0px 0px #131313;
    margin-bottom: 0px;
    width: 100%;
    text-align: right;
    font-family: 'Gotham-Book' ;
}