
  
@font-face {
    font-family: GothamRoundedBold;
    src: url('GothamRoundedBold.ttf'); 
}
@font-face {
    font-family: GothamRounded-BoldItalic;
    src: url('GothamRounded-BoldItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedBook;
    src: url('GothamRoundedBook.ttf'); 
}
@font-face {
    font-family: GothamRounded-BookItalic;
    src: url('GothamRounded-BookItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedLight;
    src: url('GothamRoundedLight.ttf'); 
}
@font-face {
    font-family: GothamRounded-LightItalic;
    src: url('GothamRounded-LightItalic.otf'); 
}
@font-face {
    font-family: GothamRoundedMedium;
    src: url('GothamRoundedMedium.ttf'); 
}
@font-face {
    font-family: GothamRounded-MediumItalic;
    src: url('GothamRounded-MediumItalic.otf'); 
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar {
    display: none;
}

    form{
        display: grid;
        grid-area: area3;
        margin: auto 0 auto auto;
        align-items: center;
        width: 85%;
        min-height: 530px;
        max-height: 530px;
        border: #bbbcc1 5px solid;
        box-shadow: 0px 0px 15px 10px #bbbcc1;
        border-radius: 20px;
        background: white;
        grid-template-areas:
            "area5"
            "area6"
            "area7";

    }
    .pruebas{
        display: grid;
        grid-area: area3;
        margin: auto;
        align-items: center;
        width: 80%;
        min-height: 0px;
        max-height: 530px;
        border: #bbbcc100 5px solid;
        box-shadow: 0px 0px 15px 10px #bbbcc100;
        border-radius: 20px;
        background: #ffffff00;
        grid-template-areas:
            "area5"
            "area6"
            "area7";
    }
    .div1{
        display: grid;
        grid-area: area5;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(2,1fr);
        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". rs1 rs1 rs2 rs2 rs2 . "
        ". . . . rs3 rs3 .";
    }

    .position1{
        grid-area:rs1;
        align-self: center;
        font-weight: bold;
        font-size: 15px;
    }
  
 
     .respon-2{
        grid-area: rs2;
        max-height: 34px;
        align-self: center;
        border: none;
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #aecfe5;
        transition: background-color .3s ease-in-out;
     }
 
     .respon-3{
         grid-area: rs3;
     }

     .div2{
        display: grid;
        grid-area: area6;
        row-gap: 10px;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(3,1fr);
        width: 100%;
        grid-template-areas:
        ". area10 area10 area10 area10 area10 . "
        ". area11 area11 area11 area11 area11 . "
        ". icor icor icor icor icor .";
    }

    #dni_re{
        width: 100%;
    }

    #celu_re{
        width: 100%
    }

    .titu2{
        color: #2b6e96;
        grid-area: area8;
        align-self: end;
    }

    .color-sub{
        font-weight: bold; 
        color: #1a72a9; 
    }

    .color-sub-sub{
        font-weight: 600; 
        color:  #939395; 
    }

    .titu3{
        grid-area: area9;
        align-self: end;
    }

    .titu4{
        grid-area: area10;
        display: grid;
        grid-template-columns: 55px 1fr;
        padding: 0px 0px 0px 20px;
        border: none;
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #0177cb;
        transition: background-color .3s ease-in-out;
    }

    .position{
        align-self: center;
        margin: 0 auto;
    }

    .input {
        padding: 0px 10px;
        
        font-size: 15px;
        border: 1px solid #0177cb;
        border-radius: 18px 18px 18px 18px;
        }

    .titu5{
        grid-area: area11;
        display: grid;
        grid-template-columns: 75px 1fr;
        padding: 0px 0px 0px 20px;
        border: none;
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #0177cb;
        transition: background-color .3s ease-in-out;
    }
    .div3{
        display: grid;
        grid-area: area7;
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(1,1fr);

    }
    #dni_alumno{
        width: 100%;
        background: #aecfe5;
        color: white;
    }

    .respon-5{
        grid-area: icor;
        display: grid;
        grid-template-columns: 95px 1fr;
        padding: 0px 0px 0px 20px;
        border: none;
        border-radius: 20px;
        background-color: #fff;
        color: #000;
        font-size: 15px;
        cursor: pointer;
        border: solid 1px #0177cb;
        transition: background-color .3s ease-in-out;
    }

    #corre_re{
        width: 100%;
    }

    .div4{
        display: grid;
        align-self: baseline;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(1,1fr);
        row-gap: 5px;
        width: 100%;
        grid-template-areas:
        ". area13 area13 area13 .";
    }

    .titu7{
        grid-area: area13;
        text-align: center;
    }
    .titu7 img{
        width: 80%;
        align-self: flex-start;
    }
    


    input[type="text"]{
      appearance: none;
      background-color: none;
      border: 1px solid transparent;
      line-height: 0;
      font-size: 17px;
      display: block;
      box-sizing: border-box;
      padding: 5px 15px;
      border-radius: 60px;
      color: #0074C5;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 2;
    }

    
    /*
    @media (max-width: 750px) {
        
        
    }
    
    @media (max-width: 600px) {
    
        
    
    }
    
    @media screen and (max-width: 770px){
        
    
    }
    
    @media screen and (max-width: 600px){
        
    }
    */

@media(max-width: 450px){
   

}
