/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/GothamCond-Bold.otf'); 
  }

  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }

/*fondos*/

* {
	padding: 0;
	margin: 0;
}

*::selection {
	background:#1b74c8 ;
	color:#fff;
}

*::-moz-selection {
	background:#33257E;
	color:#fff;
}

body {
	background: #F18A00;
	color: #fff;
	text-align: center;

}

a {
	color: #fff;
	text-decoration: underline;
}
a:link, a:visited, a:active {
	text-decoration:none;
}
.padre {
display: flex;
justify-content: center;
}
.hijo {
padding: 10px;
margin: 10px;
}

a:hover {
	text-decoration: none;
}

.contenedor {
	max-width:500px;
	width: 100%;
	margin: 40px auto;
}


/* ------------------------- */
/* Logotipo */
/* ------------------------- */
 .logo { 
	margin-bottom: 40px;
	width: 100%;
	background: #ffffff ;

}

.logo img { 
	width: 100%;
	vertical-align: top;

 }
/* ------------------------- */
/* Estilos de Filas y Columnas */
/* ------------------------- */
.app .fila {
	margin-bottom: 15px;
	display: flex;
	flex-direction: row;
}

.app .col {
	width: 100%;
}

.app{
	margin: 80px 0 0 0;
}

/* ------------------------- */
/* Estilos generales de label */
/* ------------------------- */
.app label {
	line-height: 25px;
}


/* ------------------------- */
/* Fila: lineas*/
/* ------------------------- */
.app .fila.linea1 .bienvenido h1 {
    font-size: 70px;
    display: inline-block;
	position: relative;
	font-family: GothamCond-Bold;

}

h1::after, h1::before {
    content: '';
    position: absolute;
    width: 64px;
    height: 3px;
    background-color: currentColor;
    top: 0.2em;
    transform: scale(1);
    transition: all 0.2s ease-in;
}

h1:hover::before,h1:hover::after{
	transform: scale(0);
}

h1::before {
    left: -77px;
}

h1::after {
    right: -75px;
}


.app .fila.linea2 .mundocolores {
	font-size: 56px;
	font-family: GothamCond-Bold;

    
}

.app .fila.linea3 .mundolleno {
	font-size: 37.5px;
		font-family: GothamCond-Bold;

    
}

.app .fila.linea4 .oportunidades {
	font-size: 58.7px;
	font-family: GothamCond-Bold;

    
}

/* linea 6*/
.app .fila.linea6 .bienvenido h2{
	display: inline-block;
	position: relative;
}

h2{
	content: '';
	position: absolute;
	height: 2px;
	width: 78%;
	background-color:currentColor;
	top:-0.8em;
	transform: scale(1);
	transition: all 0.2s ease-in;

}
/* linea 6*/


/* ------------------------- */
/* Fila: boton */
/* ------------------------- */

.app .col.boton {
	width: 100%;
	margin: 70px auto;

}

/*lorenceti*/

.app .btn {
	width: 60%;
	height: 100%;
	background: #000F9F;
	color: #fff;
	display: inline-block;
	text-align: center;
	border: none;
	border-radius: 40px;
	cursor: pointer;
	transition: all .3s ease;
	position: relative;
	outline:none;


}

.app .btn:hover {
	background:	#b3b3b2;
}

.app .btn::after{
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: 40px;
	border: none;
	content: ' ';
	background: rgb(15, 15, 15);
	width: 100%;
	height: 100%;
	filter:blur(5px) ;
	z-index:-1 ;
}

p.primero {
    font-size: 38px;
    margin-bottom: 10px;
    font-family: GothamCond-Bold;
}
p.segundo{
	font-size: 15px;
	font-family: Gotham-Light ;
	
}

@media screen and (max-width: 1400px){
	/* ------------------------- */
	/* Logotipo */
	/* ------------------------- */
	.logo { 
		margin-bottom: 40px;
		width: 100%;
		background: #ffffff ;

	}
	.logo img { 
		width: 100%;
		vertical-align: top;

	}
	/* ------------------------- */
	/* Estilos de Filas y Columnas */
	/* ------------------------- */
	.app .fila {
		margin-bottom: 15px;
		display: flex;
		flex-direction: row;
	}
	.app .col {
		width: 100%;
	}

	.app{
		margin: 60px 0 0 0;
	}

	/* ------------------------- */
	/* Estilos generales de label */
	/* ------------------------- */
	.app label {
		line-height: 25px;
	}


	/* ------------------------- */
	/* Fila: lineas*/
	/* ------------------------- */
	.app .fila.linea1 .bienvenido h1 {
		font-size: 80px;
		display: inline-block;
		position: relative;
	}

	h1::after, h1::before {
		content: '';
		position: absolute;
		width: 61px;
		height: 2px;
		background-color: currentColor;
		top: 0.2em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}

	h1:hover::before,h1:hover::after{
		transform: scale(0);
	}

	h1::before {
		left: -74px;
	}

	h1::after {
		right: -75px;
	}


	.app .fila.linea2 .mundocolores {
		font-size: 60px;
		
	}

	.app .fila.linea3 .mundolleno {
		font-size: 40.1px;
		
	}

	.app .fila.linea4 .oportunidades {
		font-size: 62px;
		
	}


	/* linea 6*/
	.app .fila.linea6 .bienvenido h2{

		display: inline-block;
		position: relative;
	}

	h2 {
		content: '';
		position: absolute;
		height: 2px;
		width: 84%;
		background-color: currentColor;
		top: -0.8em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	/* linea 6*/


	/* ------------------------- */
	/* Fila: boton */
	/* ------------------------- */

	.app .col.boton {
		width: 100%;
		margin: 20px auto 20px 0px;
	}

	/*lorenceti*/

	.app .btn {
		width: 60%;
		height: 100%;
		background: #000F9F;
		color: #fff;
		display: inline-block;
		text-align: center;
		border: none;
		border-radius: 40px;
		cursor: pointer;
		transition: all .3s ease;
		position: relative;
		outline:none;


	}

	.app .btn:hover {
		background: #b3b3b2;
	}

	.app .btn::after{
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 40px;
		border: none;
		content: ' ';
		background: rgb(15, 15, 15);
		width: 100%;
		height: 100%;
		filter:blur(5px) ;
		z-index:-1 ;
	}

	p.primero {
		font-size: 43px;
		margin-bottom: 1px;
	}

	p.segundo{
		font-size: 16px;
		font-family: 'Gotham-Light' ;
		
	}
}


@media screen and (max-width: 500px){
	.logo img {
		width: 100%;
		height: 100%;
	}

	.app{
		margin: 20px 0 0 0;
	}

	.app .fila {
		flex-direction: column;
		margin-bottom: 3px;
	}

	.app .fila .col {
		width: 100%;
		margin-bottom: 3px;
	}

	.app .fila.linea1 .bienvenido h1{
		font-size: 50px;
		display: inline-block;
		position: relative;
	}
	
	h1::after,h1::before{
		content: '';
		position: absolute;
		width: 20%;
		height: 2px;
		background-color:currentColor;
		top:0.3em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	
	h1:hover::before,h1:hover::after{
		transform: scale(0);
	}
	

	h1::before {
		left: 105%;
	}

	h1::after {
		right: 105%;
	}

	.app .fila.linea2 .mundocolores {
		font-size: 36px;
		
	}
	
	.app .fila.linea3 .mundolleno {
		font-size: 24px;
		
	}
	
	.app .fila.linea4 .oportunidades {
		font-size: 38px;
		
	}
		/* linea 6*/
	.app .fila.linea6 .bienvenido h2{

		display: inline-block;
		position: relative;
	}

	h2 {
		content: '';
		position: absolute;
		height: 2px;
		width: 250px;
		background-color: currentColor;
		top: -0.8em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	/* linea 6*/

	/* ------------------------- */
	/* Fila: boton */
	/* ------------------------- */

	.app .col.boton {
		width: 100%;
		margin: 40px auto;

	}
	.hijo {
		padding: 10px;
		margin: 10px;
		}
	.app .btn {
			width: 260px;
			height: 50%;
			background: #000F9F;
			color: #fff;
			display: inline-block;
			text-align: center;
			border: none;
			border-radius: 100px;
			cursor: pointer;
			transition: all .3s ease;
			position: relative;
	}

	.app .btn:hover {
		background: #b3b3b2;
	}

	.app .btn::after{
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 40px;
		border: none;
		content: ' ';
		background: rgb(15, 15, 15);
		width: 100%;
		height: 100%;
		filter:blur(5px) ;
		z-index:-1 ;
	}

	p.primero{
		font-size: 37px;
		margin-bottom: 1px;

	}

	p.segundo{
		font-size: 14px;
		font-family: 'Gotham-Light' ;
		
	}
}

/* iphone 6, 6s, 7, 8 */
@media only screen 
    and (min-device-width: 375px) 
    and (max-device-height: 667px)  
    and (-webkit-device-pixel-ratio: 2) { 
		.logo img {
			width: 100%;
			height: 100%;
		}
	
		.app{
			margin: 20px 0 0 0;
		}
	
		.app .fila {
			flex-direction: column;
			margin-bottom: 3px;
		}
	
		.app .fila .col {
			width: 100%;
			margin-bottom: 3px;
		}
	
		.app .fila.linea1 .bienvenido h1{
			font-size: 50px;
			display: inline-block;
			position: relative;
		}
		
		h1::after,h1::before{
			content: '';
			position: absolute;
			width: 20%;
			height: 2px;
			background-color:currentColor;
			top:0.3em;
			transform: scale(1);
			transition: all 0.2s ease-in;
		}
		
		h1:hover::before,h1:hover::after{
			transform: scale(0);
		}
		
	
		h1::before {
			left: 105%;
		}
	
		h1::after {
			right: 105%;
		}
	
		.app .fila.linea2 .mundocolores {
			font-size: 36px;
			
		}
		
		.app .fila.linea3 .mundolleno {
			font-size: 24px;
			
		}
		
		.app .fila.linea4 .oportunidades {
			font-size: 38px;
			
		}
			/* linea 6*/
		.app .fila.linea6 .bienvenido h2{
	
			display: inline-block;
			position: relative;
		}
	
		h2 {
			content: '';
			position: absolute;
			height: 2px;
			width: 250px;
			background-color: currentColor;
			top: -0.8em;
			transform: scale(1);
			transition: all 0.2s ease-in;
		}
		/* linea 6*/
	
		/* ------------------------- */
		/* Fila: boton */
		/* ------------------------- */
	
		.app .col.boton {
			width: 100%;
			margin: 40px auto;
	
		}
		.hijo {
			padding: 10px;
			margin: 10px;
			}
	
		.app .btn {
			width: 80%;
			height: 50%;
			background:#000F9F;
			color: #fff;
			display: inline-block;
			text-align: center;
			border: none;
			border-radius: 40px;
			cursor: pointer;
			transition: all .3s ease;
			position: relative;
		}
	
		.app .btn:hover {
			background: #b3b3b2;
		}
	
		.app .btn::after{
			position: absolute;
			top: 0px;
			left: 0px;
			border-radius: 40px;
			border: none;
			content: ' ';
			background: rgb(15, 15, 15);
			width: 100%;
			height: 100%;
			filter:blur(5px) ;
			z-index:-1 ;
		}
	
		p.primero{
			font-size: 40px;
			margin-bottom: 1px;
	
		}
	
		p.segundo{
			font-size: 17px;
			font-family: 'Gotham-Light' ;
			
		}
	}

@media screen and (max-width: 300px){
	.logo img {
		width: 100%;
		height: 100%;
	}
	.hijo {
		padding: 5px;
		margin: 0px;
	}

	.app{
		margin: 20px 0 0 0;
	}

	.app .fila {
		flex-direction: column;
		margin-bottom: -5px;
	}

	.app .fila .col {
		width: 100%;
		margin-bottom: 3px;
	}
	.app .fila .col.mrgbotm {
		width: 100%;
		margin-bottom: 10px;
	}

	.app .fila.linea1 .bienvenido h1 {
		font-size: 31px;
		display: inline-block;
		position: relative;
	}
	
	h1::after, h1::before {
		content: '';
		position: absolute;
		width: 30%;
		height: 2px;
		background-color: currentColor;
		top: 0.4em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	
	h1:hover::before,h1:hover::after{
		transform: scale(0);
	}
	
	h1::before {
		left: 106%;
	}
	
	h1::after {
		right: 106%;
	}
	

	.app .fila.linea2 .mundocolores {
		font-size: 25px;
		
	}
	
	.app .fila.linea3 .mundolleno{
		
		font-size: 16.8px;
		
	}
	
	.app .fila.linea4 .oportunidades {
		font-size: 26px;
		
	}
		/* linea 6*/

	.app .fila.linea6 .bienvenido h2{

		display: inline-block;
		position: relative;
	}

	h2 {
		content: '';
		position: absolute;
		height: 2px;
		width: 180px;
		background-color: currentColor;
		top: -0.8em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	/* linea 6*/
	.app .col.boton {
		width: 100%;
		margin: 18px auto;
	}
	.app .btn {
		width: 189px;
		height: 55px;
		background: #000F9F;
		color: #fff;
		display: inline-block;
		text-align: center;
		border: none;
		border-radius: 40px;
		cursor: pointer;
		transition: all .3s ease;
		position: relative;
	}

	.app .btn:hover {
		background: #b3b3b2;
	}

	.app .btn::after{
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 40px;
		border: none;
		content: ' ';
		background: rgb(15, 15, 15);
		width: 100%;
		height: 100%;
		filter:blur(5px) ;
		z-index:-1 ;
	}

	p.primero{
		font-size: 25px;
		margin-bottom: 1px;

	}

	p.segundo{
		font-size: 9px;
		font-family: 'Gotham-Light' ;
		
	}
}

@media screen and (max-width: 250px){
	.logo img {
		width: 100%;
		height: 100%;
	}

	.app{
		margin: 20px 0 0 0;
	}

	.app .fila {
		flex-direction: column;
		margin-bottom: 0px;
	}

	.app .fila .col {
		width: 100%;
		margin-bottom: -5px;
	}

	.app .fila.linea1 .bienvenido h1{
		font-size: 29px;
		display: inline-block;
		position: relative;
	}
	
	h1::after, h1::before {
		content: '';
		position: absolute;
		width: 27%;
		height: 2px;
		background-color: currentColor;
		top: 0.45em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	
	h1:hover::before,h1:hover::after{
		transform: scale(0);
	}
	
	h1::before {
		left: 105%;
	}
	h1::after {
		right: 106%;
	}
	

	.app .fila.linea2 .mundocolores{	
		font-size: 23px;
		
	}
	
	.app .fila.linea3 .mundolleno{
		
		font-size: 15.5px;
		
	}
	
	.app .fila.linea4 .oportunidades{
		font-size:23.8px;
		
	}
	
		/* linea 6*/


	.app .fila.linea6 .bienvenido h2{

		display: inline-block;
		position: relative;
	}

	h2 {
		content: '';
		position: absolute;
		height: 2px;
		width: 167px;
		background-color: currentColor;
		top: -0.8em;
		transform: scale(1);
		transition: all 0.2s ease-in;
	}
	/* linea 6*/

	/* ------------------------- */
	/* Fila: boton */
	/* ------------------------- */

	.app .col.boton {
		width: 100%;
		margin: 17px auto;
	}


	.app .btn {
		width: 80%;
		height: 50%;
		background: #000F9F;
		color: #fff;
		display: inline-block;
		text-align: center;
		border: none;
		border-radius: 40px;
		cursor: pointer;
		transition: all .3s ease;
		position: relative;
	}

	.app .btn:hover {
		background: #b3b3b2;
	}

	.app .btn::after{
		position: absolute;
		top: 0px;
		left: 0px;
		border-radius: 40px;
		border: none;
		content: ' ';
		background: rgb(15, 15, 15);
		width: 100%;
		height: 100%;
		filter:blur(5px) ;
		z-index:-1 ;
	}

	p.primero{
		font-size: 25px;
		margin-bottom: 1px;

	}

	p.segundo{
		font-size: 9px;
		font-family: 'Gotham-Light' ;
		
	}
}