/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/GothamCond-Bold.otf'); 
  }
  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
/*fondos  fin */
html,body{
	margin:0px;
	height:100%;
	}
body { 
		background: #c8c8c8;
		display: flex;
		justify-content: center;
		align-items: center;
}
/* cuerpo */
.container23 {
	background: url(../img1/CEBAIMAGENCHICA.jpg);
	height: 100%;
	/*IMPORTANTE*/
	justify-content: center;
	align-items: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100% ;
	text-align: center;
}
 .hyphenation {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
-webkit-hyphens: auto;
  -moz-hyphens: auto;
   -ms-hyphens: auto;
	   hyphens: auto;
}
/* ------------------------- */
/* Estilos de Filas y Columnas */
/* ------------------------- */
.container23 .col {
	width: 100%;
}
.container23 .fila{
	width: 100%;
	margin: 15px 0 0 0 ;

}
/* ------------------------- */
/* Fila: boton inicio */
/* ------------------------- */
.example_a {
	width: 300px;
	height: 50%;
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #35b3e4;
	font-size: 50px;
	font-family: 'GothamCond-Bold' ;
	padding: 0px;
	border-radius: 0px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	outline:none;
}
.example_a:hover {
		background:#b3b3b2;
		letter-spacing: -1px;
		-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
		box-shadow: 20px 60px -20px rgba(0,0,0,0.57);
		transition: all 0.4s ease 0s;
}
@media screen and (max-width: 1700px){
	.container23 {
		background: url(../img1/CEBAIMAGENCHICA.jpg);
		height: 100%;
		/*IMPORTANTE*/
		background-position: center center;
		background-attachment: fixed;
		justify-content: center;
		align-items: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100% ;
		text-align: center;
	  }
	/* ------------------------- */
	/* Estilos de Filas y Columnas */
	/* ------------------------- */
	/* ------------------------- */
	/* Fila: boton inicio */
	/* ------------------------- */
	/* ------------------------- */
	/* Fila: boton  fin */
	/* ------------------------- */
}
@media screen and (max-width: 1000px){
	html,body{
		margin:0px;
		height:100%;
		}
	body { 
		display: flex;
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
}
	.container23 {
		background: url(../img1/fondo_5.png);
		/*IMPORTANTE*/
		justify-content: center;
		align-items: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100% ;
		text-align: center;
	  }
	/* ------------------------- */
	/* Estilos de Filas y Columnas */
	/* ------------------------- */
	.container23 .fila{
		width: 100%;
		margin: 60px 0 0 0 ;
	
	}
	/* ------------------------- */
	/* Fila: boton inicio */
	/* ------------------------- */
	.example_a {
		width: 300px;
		height: 50%;
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		background: #35b3e4;
		padding: 0px;
		font-size: 70px;
		font-family: 'GothamCond-Bold' ;
		border-radius: 0px;
		display: inline-block;
		border: none;
		transition: all 0.4s ease 0s;
		outline:none;
		-webkit-box-shadow: 10px 11px 38px -5px rgba(0,0,0,0.75);
		-moz-box-shadow: 10px 11px 38px -5px rgba(0,0,0,0.75);
		box-shadow: 10px 11px 38px -5px rgba(0,0,0,0.75);
		}
	.example_a:hover {
			background: #000F9F;
			-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			box-shadow: 20px 60px -20px rgba(0,0,0,0.57);
			transition: all 0.4s ease 0s;
	}
	/* ------------------------- */
	/* Fila: boton  fin */
	/* ------------------------- */	
}

@media screen and (max-width: 1000px){
	.container23 {
		/*IMPORTANTE*/
		background: url(../img1/244.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
/*comaptible  con el resto de navegadores*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		justify-content: center;
		align-items: center;
		height: 100% ;
		text-align: center;
	  }
}
@media screen and (max-width: 700px){
	.container23 {
		/*IMPORTANTE*/
		background: url(../img1/244.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
/*comaptible  con el resto de navegadores*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		justify-content: center;
		align-items: center;
		height: 100% ;
		text-align: center;
	  }
}

@media screen and (max-width: 440px){
	html,body{
		margin:0px;
		height:100%;
	}
		body { 
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100% ;
			background-repeat:no-repeat;
			background-size:contain;
			background-position:center;
	}
	.container23 {
		/*IMPORTANTE*/
		background: url(../img1/244.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
/*comaptible  con el resto de navegadores*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		justify-content: center;
		align-items: center;
		height: 100% ;
		text-align: center;
	}
	 .hyphenation {
		word-break: break-all;
		/* Non standard for webkit */
		word-break: break-word;
	-webkit-hyphens: auto;
	  -moz-hyphens: auto;
	   -ms-hyphens: auto;
		   hyphens: auto;
	}
	/* ------------------------- */
	/* Estilos de Filas y Columnas */
	/* ------------------------- */
	.container23 .col {
		width: 100%;
	}
	.container23 .fila{
		width: 100%;
		margin: 60px 0 0 0 ;
	}
	/* ------------------------- */
	/* Fila: boton inicio */
	/* ------------------------- */
	.example_a {
		width: 230px;
		height: 50%;
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		background: #35b3e4;
		padding: 0px;
		font-size: 50px;
		font-family: 'GothamCond-Bold' ;
		border-radius: 0px;
		display: inline-block;
		border: none;
		transition: all 0.4s ease 0s;
		outline:none;
	
		}
	.example_a:hover {
			background:#b3b3b2;
			-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
			box-shadow: 20px 60px -20px rgba(0,0,0,0.57);
			transition: all 0.4s ease 0s;
	}
}


@media screen and (max-width: 300px){
	.container23 {
		/*IMPORTANTE*/
		background: url(../img1/244.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
		background-attachment: fixed;
/*comaptible  con el resto de navegadores*/
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		justify-content: center;
		align-items: center;
		height: 100% ;
		text-align: center;
	}
	.example_a {
		width: 230px;
		height: 50%;
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		background: #35b3e4;
		padding: 0px;
		font-size: 50px;
		font-family: 'GothamCond-Bold' ;
		border-radius: 0px;
		display: inline-block;
		border: none;
		transition: all 0.4s ease 0s;
		outline:none;
		}
}


@media screen and (max-width: 300px){
	.example_a {
		width: 200px;
		height: 50%;
		color: #fff !important;
		text-transform: uppercase;
		text-decoration: none;
		background: #35b3e4;
		padding: 0px;
		font-size: 40px;
		font-family: 'GothamCond-Bold' ;
		border-radius: 0px;
		display: inline-block;
		border: none;
		transition: all 0.4s ease 0s;
		outline:none;
		}
}