/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
    src: url('../fonts/GothamCond-Bold.otf'); 
}
  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Gotham-Light;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../img3/fondo_1.png);
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
}
.hyphenation {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.contenedor .form .form-header .form-title {
    color: #fff;
    padding: 0px 327px 5px 0px;
    display: block;
    color: #ffffff;
    font-size: 46px;
    font-family: GothamCond-Bold;
    position: relative;
    transition: all .5s ease;
}
.contenedor .form {
    width: 90%;
    max-width: 650px;
    margin: 0px 0px 0px 20%;
    padding: 5px 35px;
    /* margin-bottom: 30px; */
    border-radius: 3px;
    padding-top: 10px;
}
.contenedor .form .form-label1{
    display: block;
    color: #ffffff;
    font-size: 20px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease ;
    font-weight:100;
    letter-spacing: 1.9px;
}
.padre {
    background: #75d5f1;
    margin-bottom: 20px;
    padding: 100px 30px 90px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0px 8px 0px;
    margin: 0px 0px 0px -6%;
    width: 74%;
}
.hijo {
    width: 80%;
}
.padre2 {
    margin-bottom: 20px;
    padding: 100px 30px 90px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0px 8px 0px;
    width: 63%;
}
.hijo2 {
    width: 80%;
}
.imgaclase {
    width: 469px;
    height: 230px;
    margin: 15px 0px 15px -50px;
}
.contenedor .form .form-label2 {
    display: block;
    justify-content: center;
    color: #ffffff;
    font-size: 17px;
    padding: 0px 280px 22px 0px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 2px;
    /* margin-bottom: 40px; */
}
.contenedor .form .form-input {
    background: #ffffff;
    border: none;
    outline: none;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    height: 28px;
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contenedor .form .btn-submit {
    width: 187px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #e71c74;
    border-radius: 100px;
    padding: 5px 6px 6px 8px;
    font-size: 34px;
    text-align: center;
    display: inline-block;
    border: none;
    outline: none;
    font-family: 'GothamCond-Bold';
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
    box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
}
.contenedor .form .btn-submit:hover{
    background: #b3b3b2;
    letter-spacing: 0.5px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.form .fila {
	margin-bottom: 0px;
	display: flex;
}
.pstyle {
    color: white;
    padding-left: 9px;
    padding-top: 3px;
    font-size: 15.6px;
    font-family: 'Gotham-Light' ;
    font-weight: lighter;
    letter-spacing: 1.9px;
}
.astyle {
    color:#35b3e4;
}
.botonresposive{
    margin: 0px 0px 0px 196px;
}

@media (max-width: 724px) {
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 30px 160px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 80px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    } 
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 17px;
        padding: 0px 39px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 0px 8px 0px;
        margin: 0px 0px 0px -16%;
        width: 120%;
    }
    .imgaclase {
        width: 397px;
        height: 162px;
        margin: 15px 0px 15px -50px;
    }
    .contenedor .form .btn-submit {
        width: 148px;
        padding: 5px 6px 6px 8px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        border-radius: 100px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
}
@media (max-width: 700px) {
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 60px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 17px;
        padding: 0px 26px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
}
@media (max-width: 690px) {
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 30px 160px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 40px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 17px;
        padding: 0px 8px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 0px 8px 0px;
        margin: 0px 0px 0px -16%;
        width: 371px;
    }
    .imgaclase {
        width: 397px;
        height: 162px;
        margin: 15px 0px 15px -50px;
    }
    .contenedor .form .btn-submit {
        width: 148px;
        padding: 5px 6px 6px 8px;
        margin-right: -22px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        border-radius: 100px;
        font-size: 22px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }

    .botonresposive {
        margin: 0px 0px 0px 195px;
    }
}
@media (max-width: 660px) {
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 25px 135px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 24% 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 19px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 9px 0px 8px 0px;
        margin: 0px 0px 0px -5%;
        width: 330px;
    }
    .imgaclase {
        width: 415px;
        height: 210px;
        margin: 15px 0px 15px -50px;
    }
    .contenedor .form .btn-submit {
        width: 146px;
        margin-right: -60px;
        padding: 5px 6px 6px 8px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        margin-bottom: 40px;
        border-radius: 100px;
        font-size: 28px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
    .botonresposive {
        margin: 0px 0px 0px 175px;
    }
}
@media (max-width:625){
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 16px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
}
@media (max-width: 642px){
.contenedor .form .form-header .form-title {
    color: #fff;
    padding: 0px 60px 5px 0px;
    display: block;
    color: #ffffff;
    font-size: 46px;
    font-family: GothamCond-Bold;
    position: relative;
    transition: all .5s ease;
}
}
@media (max-width: 619px){
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 36px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
}
@media (max-width: 596px){
    .contenedor .form {
        width: 100%;
        max-width: 650px;
        margin: 0px;
        padding: 25px 125px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 36px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .botonresposive {
        margin: 0px 0px 0px 189px;
            margin-bottom: 0px;
    }
}
@media (max-width: 572px){
.contenedor .form .form-header .form-title {
color: #fff;
padding: 0px 127px 5px 0px;
display: block;
color: #ffffff;
font-size: 46px;
font-family: GothamCond-Bold;
position: relative;
transition: all .5s ease;
}
.contenedor .form {
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding: 25px 68px;
    margin-bottom: 30px;
    border-radius: 3px;
    padding-top: 10px;
}

.contenedor .form .form-label2 {
    display: block;
    justify-content: center;
    color: #ffffff;
    font-size: 21px;
    padding: 0px 0px 19px 0px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 2px;
    /* margin-bottom: 40px; */
}
}
@media (max-width: 544px){
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 101px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 25px 68px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 21px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
}
@media (max-width: 514px){
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 72px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 25px 68px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 10px;
    }
    
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 21px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
}
@media (max-width: 504px){
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 18px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
}
@media (max-width: 482px) {
    
    body {
        background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }

 

    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 113px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form{
        width: 90%;
        max-width: 650px;
       /* margin: auto;*/
        padding: 5px 35px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 30px;
    
    }

    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 20px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .btn-submit {
        width: 81%;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 40px;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }

    .contenedor .form {
        width: 90%;
        max-width: 650px;
      /*  margin: 0px 0px 0px 22px;
        padding: 25px 37px;
         margin-bottom: 30px; */
        /* border-radius: 3px; */
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -22px;
        width: 363px;
    }
    .hijo {
        width: 66%;
    }

    .imgaclase {
        width: 384px;
        height: 236px;
        margin: 15px 0px 15px -38px;
    }
}
@media (max-width: 471px) {
    
    body {
        background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 107px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 46px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form{
        width: 90%;
        max-width: 650px;
       /* margin: auto;*/
        padding: 5px 35px;
        margin-bottom: 30px;
        border-radius: 3px;
        padding-top: 30px;
    
    }

    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 19px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .btn-submit {
        width: 150px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 40px;
        font-size: 30px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }

    .contenedor .form {
        width: 90%;
        max-width: 650px;
      /*  margin: 0px 0px 0px 22px;
        padding: 25px 37px;
         margin-bottom: 30px; */
        /* border-radius: 3px; */
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -10px;
        width: 339px;
    }
    .hijo {
        width: 66%;
    }
}
@media (max-width: 449px) {
    .contenedor .form {
        width: 90%;
        max-width: 650px;
        margin: auto;
        padding: 25px 71px 0px 42px;
        /* margin-bottom: 30px; */
        border-radius: 3px;
    }

    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 0px 9px 0px;
        display: block;
        color: #ffffff;
        font-size: 53px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .btn-submit {
        width: 145px;
        color: #fff !important;
        margin-right: -40px;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        border-radius: 40px;
        font-size: 27px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }
}
@media (max-width: 420px) {
    .contenedor .form {
        width: 100%;
        max-width: 650px;
        margin: auto;
        padding: 25px 71px 0px 42px;
        /* margin-bottom: 30px; */
        border-radius: 3px;
    }

    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 30px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 47px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }

    .imgaclase {
        width: 400px;
        height: 235px;
        margin: 15px 0px 15px -42px;
    }
}
@media (max-width: 416px){
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 0px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 47px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .botonresposive {
        margin: 0px 0px 0px 187px;
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -42px;
        width: 415px;
    }
}
@media (max-width: 380px) {
    body {
        background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .botonresposive {
        margin: 0px 0px 0px 199px;
    }
    .contenedor .form .btn-submit {
        width: 125px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 40px;
        font-size: 25px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }
    .contenedor .form {
        width: 100%;
        max-width: 650px;
        margin: auto;
        padding: 20px 10px;
        margin-bottom: 30px;
        border-radius: 3px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 41px 5px 19px;
        display: block;
        color: #ffffff;
        font-size: 47px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 16px;
        padding: 0px 0px 19px 22px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .imgaclase {
        width: 350px;
        height: 200px;
        margin: 15px 0px 15px -2px;
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -41px;
        width: 408px;
    }
    
    
}
@media (max-width: 360px) {
    body {
        background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
        
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -34px;
        width: 384px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 60px 5px 20px;
        display: block;
        color: #ffffff;
        font-size: 43px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }

    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 16px;
        padding: 0px 0px 19px 21px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .imgaclase {
        width: 341px;
        height: 220px;
        margin: 15px 0px 15px -7px;
    }
}
@media (max-width: 350px) {
    body {
   /*     background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
     */   
    }

    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 48px 5px 20px;
        display: block;
        color: #ffffff;
        font-size: 39px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 14px;
        padding: 0px 0px 19px 21px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .btn-submit {
        width: 105px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 40px;
        font-size: 20px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }
    .contenedor .form .form-input {
        background: #ffffff;
        border: none;
        outline: none;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        height: 28px;
        margin-bottom: 10px;
        font-size: 14px;
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -11px;
        width: 344px;
    }

}

@media (max-width: 330px) {
    .imgaclase {
        width: 325px;
        height: 220px;
        margin: 15px 0px 15px -7px;
    }
}
@media (max-width: 315px) {
    body {
   /*     background: url(../img3/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
     */   
    }
    .imgaclase {
        width: 326px;
        height: 168px;
        margin: 15px 0px 15px -13px;
    }
    .padre {
        background: #75d5f1;
        margin-bottom: 20px;
        padding: 100px 30px 90px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px -10px;
        width: 311px;
    }

    .botonresposive {
        margin: 0px 0px 0px 165px;
    }

    .imgaclase {
        width: 320px;
        height: 199px;
        margin: 15px 0px 15px -19px;
    }
    .botonresposive {
        margin: 0px 0px 0px 147px;
    }

    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 0px 0px 5px 0px;
        display: block;
        color: #ffffff;
        font-size: 39px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        font-size: 14px;
        padding: 0px 0px 19px 0px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .btn-submit {
        width: 110px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #e71c74;
        padding: 10px;
        margin-bottom: 40px;
        border-radius: 40px;
        font-size: 20px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    }
    .contenedor .form .form-input {
        background: #ffffff;
        border: none;
        outline: none;
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
        height: 28px;
        margin-bottom: 10px;
        font-size: 14px;
        color: rgb(0, 0, 0);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
@media (max-width: 250px) {
.padre {
    background: #75d5f1;
    margin-bottom: 20px;
    padding: 100px 30px 90px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px -10px;
    width: 300px;
}
}