/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/GothamCond-Bold.otf'); 
  }
  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(../img4/fondo_1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
}
.hyphenation {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .form {
    width: 90%;
    max-width: 706px;
    /* margin: 0px 0px 0px 20%; */
    /* padding: 5px 35px; */
    /* margin-bottom: 30px; */
    /* border-radius: 3px; */
    /* padding-top: 10px; */

}
.contenedor .form .form-header .form-title {
    color: #fff;
    padding: 15px 0px 0px 0px;
    display: block;
    color: #ffffff;
    font-size: 46px;
    font-family: GothamCond-Bold;
    position: relative;
    transition: all .5s ease;
}
.contenedor .form .form-label2 {
    display: block;
    justify-content: center;
    color: #ffffff;
    padding: 0px 0px 6px 0px;
    font-size: 19px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    /* margin-bottom: 40px; */
}
.contenedor .form .btn-submit {
    width: 200px;
    padding-top: 7px;
    padding-bottom: 7px;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #35b3e4;
    margin-top: 20px;
    border-radius: 100px;
    font-size: 33px;
    text-align: center;
    display: inline-block;
    border: none;
    outline: none;
    font-family: GothamCond-Bold;
    transition: all 0.4s ease 0s;
    -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
    box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
}
.contenedor .form .btn-submit:hover{
    background: #b3b3b2;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
.form .fila {
	margin-bottom: 0px;
	display: flex;
}
.form .fila.fila2 {
    float: right;
}
/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}
.fm-video .vjs-control-bar {
	background: #000000;
	color: white;
}
.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #f00909;
}
.fm-video .vjs-slider {
	background: #fff9f9;;
}
.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}
.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}
.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}

@media (max-width: 700px) {
    .contenedor .form .btn-submit {
        width: 145px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #35b3e4;
        margin-top: 40px;
        border-radius: 100px;
        font-size: 32px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
}

@media (max-width: 440px) {
    body {
        background: url(../img4/fondo_1.jpg);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .btn-submit {
        width: 145px;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #35b3e4;
        margin-top: 40px;
        border-radius: 100px;
        font-size: 31px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 20px 0px 25px 0px;
        font-size: 18px;
        font-family: 'Gotham-Light';
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
    /* ------------------------- */
    /* Estilos CSS del Reproductor */
    /* ------------------------- */
    .fm-video {
        width: 100%;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
    }
    .fm-video .video-js.vjs-16-9 {
        padding-top: 74.25%;
    }
    .video-js.vjs-16-9 {
        padding-top: 74.25%;
    }
}
@media (max-width: 410px) {
    body {
        background: url(../img4/fondo_1.jpg);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media (max-width: 390px) {
    body {
        background: url(../img4/fondo_1_390.jpg);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .btn-submit {
        width: 140px;
        padding-top: 7px;
        padding-bottom: 7px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #35b3e4;
        margin-top: 36px;
        border-radius: 100px;
        font-size: 28px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 15px 0px 0px 0px;
        display: block;
        color: #ffffff;
        font-size: 45px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 15px 0px 40px 0px;
        font-size: 17px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
    }
}
@media (max-width: 360px) {
    body {
        background: url(../img4/fondo_1_390.jpg);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
        
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 15px 0px 0px 0px;
        display: block;
        color: #ffffff;
        font-size: 45px;
        font-family: GothamCond-Bold;
        position: relative;
        transition: all .5s ease;
    }

    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 15px 0px 43px 0px;
        font-size: 17.5px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 2px;
    }
    .contenedor .form .btn-submit {
        width: 110px;
        padding: 7px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #35b3e4;
        margin-top: 35px;
        border-radius: 100px;
        font-size: 23px;
        text-align: center;
        display: inline-block;
        border: none;
        outline: none;
        font-family: GothamCond-Bold;
        transition: all 0.4s ease 0s;
        -webkit-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        -moz-box-shadow: 0px 4px 24px 8px rgba(0,0,0,0.44);
        box-shadow: 0px 12px 11px 0px rgba(0,0,0,0.34);
    }
}

@media (max-width: 290px) {
    body {
        background: url(../img4/fondo_1_290.jpg);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
        
    } 
}

