/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/Gotham-Book.otf'); 
  }
  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    body{
        overflow-x: hidden;
        overflow-y: hidden;
        background-image: url(../img5/fondo_1.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .hyphenation {
        word-break: break-all;
        /* Non standard for webkit */
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
    .contenedor{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor .form {
        width: 90%;
        max-width: 706px;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 10px 0px 0px 0px;
        display: block;
        color: #ffffff;
        text-align: left;
        font-size: 48px;
        font-family: GothamCond-Bold;
        position: relative;
    }
        /*---------------------------------*/
        .contenedor .form .form-label1 {
            color: #ffffff;
            font-size: 17px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label1.cposi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: -33px 0px 0px 47px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label2 {
            color: #ffffff;
            font-size: 10px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label2.c2posi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: -14px 0px 0px 47px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label3 {
            color: #ffffff;
            font-size: 17px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label3.c3posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: 24px -100px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label4 {
            color: #ffffff;
            font-size: 9px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label4.c4posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 42px -152px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label5 {
            color: #ffffff;
            font-size: 16px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label5.c5posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 90px -180px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label6 {
            color: #ffffff;
            font-size: 10px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label6.c6posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 110px -134px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label7 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: -1px;
        }
        .contenedor .form .form-label7.c7posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 161px -212px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label8 {
            color: #ffffff;
            font-size: 10px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label8.c8posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 181px -160px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label9 {
            color: #ffffff;
            font-size: 15px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: -1px;
        }
        .contenedor .form .form-label9.c9posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 234px -207px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label10 {
            color: #ffffff;
            font-size: 12px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label10.c10posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 254px -99px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label11 {
            color: #ffffff;
            font-size: 14px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: -1px;
        }
        .contenedor .form .form-label11.c11posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 298px -206px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label12 {
                color: #ffffff;
                font-size: 10px;
                font-family: Gotham-Light;
                position: relative;
                font-weight: 100;
                letter-spacing: 0px;
        }
        .contenedor .form .form-label12.c12posi {
                float: right;
                display: block;
                text-align: left;
                padding: 0px 0px 0px 0px;
                margin: 314px -157px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label13 {
                color: #ffffff;
                font-size: 15px;
                font-family: GothamCond-Bold;
                position: relative;
                font-weight: 100;
                letter-spacing: 0px;
        }
        .contenedor .form .form-label13.c13posi {
                float: right;
                display: block;
                text-align: left;
                padding: 0px 0px 0px 0px;
                margin: 38px 10px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label14 {
                color: #ffffff;
                font-size: 11px;
                font-family: Gotham-Light;
                position: relative;
                font-weight: 100;
                letter-spacing: 0px;
        }
        .contenedor .form .form-label14.c14posi {
                float: right;
                display: block;
                text-align: left;
                padding: 0px 0px 0px 0px;
                margin: 58px -55px 0px 0px;
        }
    .contenedor .form .btn-submit {
            width: 169px;
            height: 44px;
            padding-top: 6px;
            margin-top: 20px;
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #b3b3b2;
            border-radius: 100px;
            font-size: 26px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            border: none;
            outline: none;
            font-family: 'GothamCond-Bold';
            transition: all 0.4s ease 0s;
            background: #ee8802;
            -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
        }
    .contenedor .form .btn-submit:hover{
        -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        transition: all 0.4s ease 0s;
        background: #b3b3b2;
    }
    .form .fila {
        margin-bottom: 0px;
    }
    .padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .padre.pleft{
        /*IMPORTANTE*/
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .padre.derecha{
       /* float:right;*/
    }
    .hijo {
        width: 250px;
        height: 374px;
        margin-top: 40px;
        display: inline-block;
        border: none;
        outline: none;
        transition: all 0.4s ease 0s;
        background: url(../img5/completo.png) no-repeat;
        background-size: cover;
        background-position: center center;
      /*  background-attachment: fixed;*/
    /*comaptible  con el resto de navegadores*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: left;
        align-items: center;
        text-align: center;

    }
@media (max-width: 700px) {
        body {
            background: url(../img5/fondo_1_600.png);
            -webkit-background-size:cover;
            background-size: cover;
            background-attachment: fixed;
        }
        .contenedor .form .btn-submit {
            width: 169px;
            height: 44px;
            padding-top: 6px;
            margin-top: 20px;
            margin-left: 23%;
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #b3b3b2;
            /* margin-bottom: 40px; */
            border-radius: 100px;
            font-size: 26px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            border: none;
            outline: none;
            font-family: 'GothamCond-Bold';
            transition: all 0.4s ease 0s;
            background: #ee8802;
            -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
        }
}
@media (max-width: 619px) {
        body {
            background: url(../img5/fondo_1_600.png);
            -webkit-background-size:cover;
            background-size: cover;
            background-attachment: fixed;
        }
        .contenedor .form .btn-submit {
            width: 127px;
            height: 44px;
            padding-top: 6px;
            margin-left: 40%;
            margin-top: 20px;
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #b3b3b2;
            /* margin-bottom: 40px; */
            border-radius: 100px;
            font-size: 26px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            border: none;
            outline: none;
            font-family: 'GothamCond-Bold';
            transition: all 0.4s ease 0s;
            background: #ee8802;
            -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
        }
}
@media (max-width: 500px) {
        body {
            background: url(../img5/fondo_1_600.png);
            -webkit-background-size:cover;
            background-size: cover;
            background-attachment: fixed;
        }
        .contenedor .form .btn-submit {
            width: 100px;
            height: 36px;
            padding-top: 5px;
            margin-top: 20px;
            margin-left: 40%;
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #b3b3b2;
            /* margin-bottom: 40px; */
            border-radius: 100px;
            font-size: 21px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            border: none;
            outline: none;
            font-family: 'GothamCond-Bold';
            transition: all 0.4s ease 0s;
            background: #ee8802;
            -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
        }
}
@media (max-width: 460px) {
        body {
            background: url(../img5/fondo_1_600.png);
            -webkit-background-size:cover;
            background-size: cover;
            background-attachment: fixed;
        }
        .contenedor .form .form-header .form-title {
            color: #fff;
            padding: 10px 0px 0px 0px;
            display: block;
            color: #ffffff;
            text-align: left;
            font-size: 40px;
            font-family: GothamCond-Bold;
            position: relative;
        }
        .padre.derecha{
             float:right;
         }
         .contenedor .form .btn-submit {
            width: 100px;
            height: 36px;
            padding-top: 5px;
            margin-top: 20px;
            margin-left: 89px;
            color: #fff !important;
            text-transform: uppercase;
            text-decoration: none;
            background: #b3b3b2;
            /* margin-bottom: 40px; */
            border-radius: 100px;
            font-size: 21px;
            text-align: center;
            border-radius: 100px;
            display: inline-block;
            border: none;
            outline: none;
            font-family: 'GothamCond-Bold';
            transition: all 0.4s ease 0s;
            background: #ee8802;
            -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
            box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
        }
}
@media (max-width: 440px) {
    body {
        background: url(../img5/fondo_1_600.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .btn-submit {
        width: 100px;
        height: 36px;
        padding-top: 5px;
        margin-top: 20px;
        margin-left: 89px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #b3b3b2;
        /* margin-bottom: 40px; */
        border-radius: 100px;
        font-size: 21px;
        text-align: center;
        border-radius: 100px;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        background: #ee8802;
        -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .padre.derecha{
        /*float:right;*/
    }
    
}

@media (max-width: 400px) {
    body {
        background: url(../img5/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 10px 0px 0px 10px;
        display: block;
        color: #ffffff;
        text-align: left;
        font-size: 30px;
        font-family: GothamCond-Bold;
        position: relative;
    }
    .contenedor .form .btn-submit {
        width: 100px;
        height: 36px;
        padding-top: 8px;
        margin-top: 20px;
        margin-left: 89px;
        color: #fff !important;
        text-transform: uppercase;
        text-decoration: none;
        background: #b3b3b2;
        /* margin-bottom: 40px; */
        border-radius: 100px;
        font-size: 15px;
        text-align: center;
        border-radius: 100px;
        display: inline-block;
        border: none;
        outline: none;
        font-family: 'GothamCond-Bold';
        transition: all 0.4s ease 0s;
        background: #ee8802;
        -webkit-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 7px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -4px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .hijo {
        width: 255px;
        height: 374px;
        margin-left: -55px;
        margin-top: 40px;
        display: inline-block;
        border: none;
        outline: none;
        transition: all 0.4s ease 0s;
        background: url(../img5/completo.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 340px) {
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 10px 0px 0px 0px;
        display: block;
        color: #ffffff;
        text-align: left;
        font-size: 30px;
        font-family: GothamCond-Bold;
        position: relative;
    }
           /*---------------------------------*/
           .contenedor .form .form-label1 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label1.cposi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: -21px 0px 0px 47px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label2 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label2.c2posi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: -5px 0px 0px 47px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label3 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label3.c3posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: 41px 10px 0px 13px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label4 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label4.c4posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 55px -148px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label5 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label5.c5posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 100px -127px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label6 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label6.c6posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 114px -134px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label7 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label7.c7posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 175px -174px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label8 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label8.c8posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 189px -163px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label9 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label9.c9posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 255px -152px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label10 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label10.c10posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 267px -104px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label11 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label11.c11posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 312px -124px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label12 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label12.c12posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 326px -138px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label13 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label13.c13posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 345px 25px 0px 0px;
        }    
        /*---------------------------------*/
        .contenedor .form .form-label14 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label14.c14posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 358px -40px 0px 0px;
        }
}

@media (max-width: 310px) {
    body {
        background: url(../img5/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .hijo {
        width: 255px;
        height: 374px;
        margin-left: -58px;
        margin-top: 40px;
        display: inline-block;
        border: none;
        outline: none;
        transition: all 0.4s ease 0s;
        background: url(../img5/completo.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
    .contenedor .form .form-header .form-title {
        font-size: 30px;
    }
     /*---------------------------------*/
     .contenedor .form .form-label1 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label1.cposi {
        float: left;
        display: block;
        text-align: left;
        padding: 0px 0px 6px 0px;
        margin: -21px 0px 0px 47px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label2 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label2.c2posi {
        float: left;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: -5px 0px 0px 47px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label3 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label3.c3posi {
        float: right;
    display: block;
    text-align: left;
    padding: 0px 0px 6px 0px;
    margin: 20px 3px 0px 14px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label4 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label4.c4posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 33px -149px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label5 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label5.c5posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 73px -120px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label6 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label6.c6posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 88px -128px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label7 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label7.c7posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 145px -166px 0px 0px;
    }    
    /*---------------------------------*/
    .contenedor .form .form-label8 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label8.c8posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 160px -155px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label9 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label9.c9posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 216px -145px 0px 0px;
    }    
    /*---------------------------------*/
    .contenedor .form .form-label10 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label10.c10posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 230px -97px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label11 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label11.c11posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 265px -124px 0px 0px;
    }    
    /*---------------------------------*/
    .contenedor .form .form-label12 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label12.c12posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 280px -138px 0px 0px;
    }
    /*---------------------------------*/
    .contenedor .form .form-label13 {
        color: #ffffff;
        font-size: 13px;
        font-family: GothamCond-Bold;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label13.c13posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 309px 13px 0px 0px;
    }    
    /*---------------------------------*/
    .contenedor .form .form-label14 {
        color: #ffffff;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        font-weight: 100;
        letter-spacing: 0px;
    }
    .contenedor .form .form-label14.c14posi {
        float: right;
        display: block;
        text-align: left;
        padding: 0px 0px 0px 0px;
        margin: 323px -40px 0px 0px;
    }
    .hijo {
        width: 239px;
        height: 337px;
        margin-left: -58px;
        margin-top: 40px;
        display: inline-block;
        border: none;
        outline: none;
        transition: all 0.4s ease 0s;
        background: url(../img5/completo.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 290px) {
    body {
        background: url(../img5/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 399px) 
and (orientation : portrait) { 

    .hijo {
        width: 255px;
        height: 374px;
        margin-left: -55px;
        margin-top: 40px;
        display: inline-block;
        border: none;
        outline: none;
        transition: all 0.4s ease 0s;
        background: url(../img5/completo.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: left;
        align-items: center;
        text-align: center;
    }
    /* STYLES GO HERE */ 
    .contenedor .form .form-header .form-title {
        color: #fff;
        padding: 10px 0px 0px 0px;
        display: block;
        color: #ffffff;
        text-align: left;
        font-size: 30px;
        font-family: GothamCond-Bold;
        position: relative;
    }
           /*---------------------------------*/
           .contenedor .form .form-label1 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label1.cposi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: -25px 0px 0px 47px;
        }        
        /*---------------------------------*/
        .contenedor .form .form-label2 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label2.c2posi {
            float: left;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: -10px 0px 0px 47px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label3 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label3.c3posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 6px 0px;
            margin: 33px -13px 0px 13px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label4 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label4.c4posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 48px -148px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label5 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label5.c5posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 94px -136px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label6 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label6.c6posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 110px -134px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label7 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label7.c7posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 175px -192px 0px 0px;
        }   
        /*---------------------------------*/
        .contenedor .form .form-label8 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label8.c8posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 189px -160px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label9 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label9.c9posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 255px -168px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label10 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label10.c10posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 267px -104px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label11 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label11.c11posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 312px -150px 0px 0px;
        } 
        /*---------------------------------*/
        .contenedor .form .form-label12 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label12.c12posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 326px -138px 0px 0px;
        }
        /*---------------------------------*/
        .contenedor .form .form-label13 {
            color: #ffffff;
            font-size: 13px;
            font-family: GothamCond-Bold;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label13.c13posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 345px 0px 0px 0px;
        } 
        /*---------------------------------*/
        .contenedor .form .form-label14 {
            color: #ffffff;
            font-size: 8px;
            font-family: Gotham-Light;
            position: relative;
            font-weight: 100;
            letter-spacing: 0px;
        }
        .contenedor .form .form-label14.c14posi {
            float: right;
            display: block;
            text-align: left;
            padding: 0px 0px 0px 0px;
            margin: 358px -40px 0px 0px;
        }
}

