/*fondos de letra*/
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/GothamCond-Bold.otf'); 
  }
  @font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
   /* overflow-x: hidden;
    overflow-y: hidden;*/
    background-image: url(../img6/fondo_1.png);
    -webkit-background-size:cover;
    background-size: cover;
    background-attachment: fixed;
}
.hyphenation {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .form {
    width: 90%;
    max-width: 706px;
    /* margin: 0px 0px 0px 20%; */
    /* padding: 5px 35px; */
    /* margin-bottom: 30px; */
    /* border-radius: 3px; */
    /* padding-top: 10px; */

}
.contenedor .form .form-header .form-title {
    color: #fff;
    padding: 5px 0px 0px 0px;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    font-family: GothamCond-Bold;
    position: relative;
    transition: all .5s ease;
}
.contenedor .form .form-label1 {
    display: block;
    justify-content: center;
    color: #ffffff;
    padding: 20px 0px 0px 61px;
    text-align: center;
    font-size: 14px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    margin-bottom: 4px;
}
.contenedor .form .form-label2 {
    display: block;
    justify-content: center;
    color: #ffffff;
    padding: 23px 0px 0px 41px;
    text-align: center;
    font-size: 14px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    /* margin-bottom: 40px;*/
}

.contenedor .form .form-label3 {
    display: block;
    justify-content: center;
    color: #ffffff;
    padding: 23px 0px 0px 65px;
    text-align: center;
    font-size: 14px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    /* margin-bottom: 40px; */
}
.contenedor .form .form-label4 {
    display: block;
    justify-content: center;
    color: #0a0f9e;
    padding: 4px 0px 4px 0px;
    text-align: center;
    font-size: 15px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    /* margin-bottom: 40px; */
}

.contenedor .form .btn-submit1 {
    width: 129px;
    height: 25px;
    margin: auto;
    color: blue;
    display: block;
    padding: 0px 0px 0px 0px;
    text-align: center;
    text-decoration: none;
    align-content: center;
    /* margin-top: 20px; */
    border-radius: 100px;
    border: none;
    outline: none;
    letter-spacing: 0.4px;
    font-family: 'GothamCond-Bold';
    font-size: 14px;
    transition: all 0.4s ease 0s;
    background: white;
    -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.75);
}
.contenedor .form .btn-submit2 {
    width: 70px;
    height: 30px;
    text-align: center;
    color: white;
    align-content: center;
    margin-top: 20px;
    padding: 4px 4px 4px 4px;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'GothamCond-Bold';
    transition: all 0.4s ease 0s;
    background: #0a0f9e;
    -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.75);
}
    .contenedor .form .btn-submit1:hover{
        -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        transition: all 0.4s ease 0s;
        letter-spacing: 0.5px;
        background: #b3b3b2;
    }
    .contenedor .form .btn-submit2:hover{
        -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        transition: all 0.4s ease 0s;
        letter-spacing: 0.5px;
        background: #b3b3b2;
    }
    .form .fila {
        margin-bottom: 0px;
    }
    .fila.fondodif{
        background: #76d6f2;
    }
    .padre {
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .hijo {
    width: 50%;
    }
    .hijo1 {
    width: 313px;
    height: 150px;
    }

    .hijo1.primerimg{
        background: url(../img6/imagen1.png) no-repeat;
        background-size: 300px 154px;
        background-position: center center;
      /*  background-attachment: fixed;*/
        /*comaptible  con el resto de navegadores*/
        -webkit-background-size: 300px 154px;
        -moz-background-size: 300px 154px;
        -o-background-size: 300px 154px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hijo2 {
        width: 300px;
        height: 90px;
    }
    .hijo2.segundaimg{
        background: url(../img6/imagen2.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        /*-webkit-background-size: 310px 102px;*/
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      .hijo3 {
        width: 300px;
        height: 90px;
    }
    .hijo3.terceraimg {
        background: url(../img6/imagen3.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 14px;
    }
    img.matricula{
        margin: 0px -18px 0px 0px;
        width: 222px;
        height: 114px;
    }
    img.mas{
        margin: 1px 1px 1px 1px;
    }
    img.unidad{
        margin: 0px 0px 0px -15px;
        width: 222px;
        height: 114px;
    }

    .hijo.difer{
        width: 60%;
    }
   .alineacion{
    text-align: left;
   }
   
   .alineacion.difer{
    text-align: center;
   }
   a.facebook{
    text-decoration: none;
   }
    img.facebook{
    width: 19px;
    height: 16px;
    margin: 0px -6px 0px 0px;
    }
    img.whatsapp{
    width: 19px;
    height: 16px;
    margin: 0px -6px 0px 0px;
    }
   a.whatsapp{
    text-decoration: none;
   }
   img.bbva {
    width: 94px;
    height: 27px;
}
  @media (max-width: 800px) {
    body {
        background: url(../img6/fondo_1.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
  }
  @media (max-width: 600px) {
    .contenedor .form .form-label4 {
        display: block;
        justify-content: center;
        color: #0a0f9e;
        padding: 4px 0px 4px 0px;
        text-align: center;
        font-size: 12.5px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
    img.unidad {
        margin: 0px 0px 0px -15px;
        width: 180px;
        height: 90px;
    }
    img.matricula {
        margin: 0px -14px 0px 0px;
        width: 180px;
        height: 90px;
    }
  }
  @media (max-width: 500px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    img.bbva {
        width: 80px;
        height: 20px;
    }

    .fila.fondodif {
        background: #76d6f2;
        margin-left: -20px;
        margin-right: -20px;
    }
    .hijo1 {
        width: 300px;
        height: 140px;
    }
    .hijo1.primerimg {
        background: url(../img6/imagen1.png) no-repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
        background-size: 242px 145px;
        background-position: center center;
        /*background-attachment: fixed;*/
        -webkit-background-size: 242px 145px;
        -moz-background-size: 242px 145px;
        -o-background-size: 242px 145px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contenedor .form .form-label1 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 20px 0px 0px 78px;
        text-align: center;
        font-size: 11.5px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        margin-bottom: 4px;
    }
    .contenedor .form .btn-submit1 {
        width: 107px;
        height: 18px;
        margin-top: auto;
        color: blue;
        display: block;
        padding: 0px 0px 0px 0px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        margin-top: 5px;
        border-radius: 100px;
        border: none;
        outline: none;
        letter-spacing: 0.4px;
        font-family: 'GothamCond-Bold';
        font-size: 11px;
        transition: all 0.4s ease 0s;
        background: white;
        -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.75);
    }
    .hijo2 {
        width: 295px;
        height: 70px;
    }
    .hijo2.segundaimg {
        background: url(../img6/imagen2.png) no-repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto;
        background-size: 236px 76px;
        background-position: center center;
        /*background-attachment: fixed;*/
        -webkit-background-size: 236px 76px;
        -webkit-background-size: 252px 76px;
        -moz-background-size: 236px 76px;
        -o-background-size: 236px 76px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 15px 0px 0px 62px;
        text-align: center;
        font-size: 11.5px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }

    .hijo3 {
        width: 300px;
        height: 90px;
    }
    .hijo3.terceraimg {
        background: url(../img6/imagen3.png) no-repeat;
        background-size: cover;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: 236px 76px;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 14px;
    }
    .hijo3 {
        width: 300px;
        height: 70px;
    }
    .hijo3.terceraimg {
        background: url(../img6/imagen3.png) no-repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
        background-size: cover;
        background-position: center center;
        /*background-attachment: fixed;*/
        -webkit-background-size: 250px 77px;
        -moz-background-size: cover;
        -o-background-size: cover;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 14px;
    }
    .contenedor .form .form-label3 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 15px 0px 0px 77px;
        text-align: center;
        font-size: 12px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        margin-bottom: 40px;
    }
    img.facebook {
        width: 15px;
        height: 11px;
        margin: 0px -4px 0px 0px;
    }
    img.whatsapp {
        width: 15px;
        height: 11px;
        margin: 0px -3px 0px 0px;
    }
    .contenedor .form .form-label4 {
        display: block;
        justify-content: center;
        color: #0a0f9e;
        padding: 4px 0px 4px 0px;
        text-align: center;
        font-size: 10px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
  }

@media (max-width: 440px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }

    
}
@media (max-width: 410px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    img.mas {
        margin: 1px 1px 1px 1px;
        width: 40px;
        height: 35px;
    }
}
@media (max-width: 390px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    img.mas {
        margin: 1px 1px 1px 1px;
        width: 30px;
        height: 30px;
    }
    img.matricula {
        margin: 0px -14px 0px 0px;
        width: 165px;
        height: 75px;
    }
    img.unidad {
        margin: 0px -14px 0px -13px;
        width: 165px;
        height: 75px;
    }
}

@media (max-width: 360px) {
    .contenedor .form .form-label4 {
        display: block;
        justify-content: center;
        color: #0a0f9e;
        padding: 4px 0px 4px 0px;
        text-align: center;
        font-size: 9px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
}

@media (max-width: 330px) {
    img.bbva {
        width: 60px;
        height: 17px;
    }
    .contenedor .form .form-label4 {
        display: block;
        justify-content: center;
        color: #0a0f9e;
        padding: 4px 0px 4px 0px;
        text-align: center;
        font-size: 9px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .form-label1 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 0px 0px 0px 0px;
        text-align: center;
        font-size: 10px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        margin-bottom: 4px;
    }
    .hijo1.primerimg {
        background: url(../img6/imagen1.png) no-repeat;
        background-size: 300px 154px;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: 197px 100px;
        -moz-background-size: 300px 154px;
        -o-background-size: 300px 154px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
  .contenedor .form .form-label1 {
    display: block;
    justify-content: center;
    color: #ffffff;
    padding: 9px 0px 0px 42px;
    text-align: center;
    font-size: 9px;
    font-family: Gotham-Light;
    position: relative;
    transition: all .5s ease;
    font-weight: 100;
    letter-spacing: 0px;
    margin-bottom: 4px;
}
    img.unidad {
        margin: 0px 0px 0px -15px;
        width: 120px;
        height: 60px;
    }
    img.matricula {
        margin: 0px -18px 0px 0px;
        width: 120px;
        height: 60px;
    }
    .hijo2.segundaimg {
        background: url(../img6/imagen2.png) no-repeat;
        background-size: 197px 60px;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: 197px 60px;
        -webkit-background-size: 197px 60px;
        -moz-background-size: 197px 60px;
        -o-background-size: 197px 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hijo1 {
        width: 193px;
        height: 92px;
    }
    .contenedor .form .form-label2 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 14px 0px 0px 26px;
        text-align: center;
        font-size: 9px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
    .hijo2 {
        width: 191px;
        height: 63px;
    }
    .hijo3.terceraimg {
        background: url(../img6/imagen3.png) no-repeat;
        background-size: 197px 60px;
        background-position: center center;
        /* background-attachment: fixed; */
        -webkit-background-size: 197px 60px;
        -moz-background-size: 197px 60px;
        -o-background-size: 197px 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 14px;
    }
    .hijo3 {
        width: 188px;
        height: 50px;
    }
    .contenedor .form .form-label3 {
        display: block;
        justify-content: center;
        color: #ffffff;
        padding: 10px 0px 0px 37px;
        text-align: center;
        font-size: 9px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }
    .contenedor .form .btn-submit1 {
        width: 80px;
        height: 15px;
        margin: auto;
        color: blue;
        display: block;
        padding: 0px 0px 0px 0px;
        text-align: center;
        text-decoration: none;
        align-content: center;
        margin-top: 2px;
        border-radius: 100px;
        border: none;
        outline: none;
        letter-spacing: 0.7px;
        font-family: 'GothamCond-Bold';
        font-size: 7px;
        transition: all 0.4s ease 0s;
        background: white;
        -webkit-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 12px 31px 0px rgba(0,0,0,0.75);
        box-shadow: 6px 4px 7px -2px rgba(0,0,0,0.75);
    }
}


@media (max-width: 300px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
}
@media (max-width: 290px) {
    body {
        background: url(../img6/fondo_celular_400.png);
        -webkit-background-size:cover;
        background-size: cover;
        background-attachment: fixed;
    }
    .contenedor .form .form-label4 {
        display: block;
        justify-content: center;
        color: #0a0f9e;
        padding: 4px 0px 4px 0px;
        text-align: center;
        font-size: 8px;
        font-family: Gotham-Light;
        position: relative;
        transition: all .5s ease;
        font-weight: 100;
        letter-spacing: 0px;
        /* margin-bottom: 40px; */
    }

}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 399px) 
and (orientation : portrait) { 
    
}