@font-face {
  font-family: Gotham-Medium;
  src: url('../../assets/fonts/Gotham-Medium.otf'); 
}
@font-face {
	font-family: Gotham-Bold;
	src: url('../../assets/fonts/Gotham-Bold.otf'); 
  }
@font-face {
	font-family: Gotham-Light;
	src: url('../../assets/fonts/Gotham-Light.otf'); 
  }
@font-face {
	font-family: Gotham-Book;
	src: url('../../assets/fonts/Gotham-Book.otf'); 
  }
@font-face {
	font-family: GothamCond-Bold;
	src: url('../../assets/fonts/GothamCond-Bold.otf'); 
  }
/* footer container */

  .letrapedida{
    font-family: 'GothamCond-Bold';
    color: #0a0e93;
    z-index: 1;
  }
  .footer {
    width: 100%;
    height: 69px;
    background-color: #0a0e93;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f2f2f2;
    display: none;
    justify-content: space-around;
    box-shadow: 0 0 10px #e2e2e2;
    z-index: 2;
  }
  .footerp {
    z-index: 8;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
  .margenfooter{
    margin-bottom: 119px;    
  }

  .footer.show {
      display: flex
  }
  
  .navigation {
    z-index: 3;
    display: flex;
  }
  .nav-button {
    padding: 0px 0px;
    cursor: pointer;
    user-select: none;
  }
  .logoaa{
    display: inline-block;
    line-height: 1;
    width: 60px;
    height: 100%;
    background: url() no-repeat;
    background-size: 65px 50px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
  }
  .logoa{
    display: inline-block;
    line-height: 1;
    width: 60px;
    height: 100%;
    background: url(../img/slider/izquierda.png) no-repeat;
    background-size: 65px 50px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    border: 1px;
  }
  .logob {
    display: inline-block;
    line-height: 1;
    width: 60px;
    height: 100%;
    background: url(../img/slider/casa.png) no-repeat;
    background-size: 59px 57px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  .logoc {
    display: flex;
    line-height: 1;
    width: 100px;
    height: 100%;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
  }

  .housep {
    width: 101px;
    /* height: 78px; */
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    margin-top: 0px;
  }

  .numeroarriba{
    position: relative;
    top: -24px;
    left: 0px;
    z-index: 4;
    font-family: 'Gotham-Bold';
    color: #e2e2e2;
    font-size: 28px;
  }
  .logod {
    display: inline-block;
    line-height: 1;
    width: 60px;
    height: 100%;
    background: url(../img/slider/comen.png) no-repeat;
    background-size: 59px 57px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }
  .logoe {
    display: inline-block;
    line-height: 1;
    width: 60px;
    height: 100%;
    background: url(../img/slider/derecha.png) no-repeat;
    background-size: 65px 49px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    border: 0px;
    font-size: 0px;
    padding-left: 61px;
  }
  .vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 40px;
    display: inline-block;
    /* margin-bottom: 5px; */
  }
    .nav-button:hover {
    transition: 250ms color, 250ms background-color;
    background-color:#4f97ce;;
  }
  
  .nav-button.active {
    background-color:#f8f9fa;
    transition: 250ms color;
  }
  .nav-button.active:hover  {
    background-color:#77b2e2;
    transition: 250ms color;
  }
  

  .page {
    width: 100%;
    height: 100vh;
    display: flex;
  }

  @media only screen 
  and (max-width : 700px) and (orientation : portrait) {
    .footer {
      position: fixed;
      height: 11%;
      flex-wrap: nowrap;
  }
  }

  @media only screen 
  and (max-width : 550px) and (orientation : portrait) {
    .activaresponsive {
      /*height: 430px;*/
  }
  }
  

  @media only screen and (max-width: 300px) and (orientation: portrait){
  .footer {
    position: fixed;
    height: 12%;
    flex-wrap: nowrap;
  }
  }