/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}
.fm-video .vjs-control-bar {
	background: #000000;
	color: white;
}
.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #f00909;
}
.fm-video .vjs-slider {
	background: #fff9f9;;
}
.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}
.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}
.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}


.videoContainer
{
/*position:absolute;*/
height:100%;
width:100%;
/*overflow: hidden;*/
padding-top: 50%;
}
.videoContainer video
{
min-width: 100%;
min-height: 100%;
object-fit: fill; /*Added property*/
}
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
/* IE8 - has no alpha support */
/*background-color: #2B333F;*/
/* Opacity: 1.0 = 100%, 0.0 = 0% */
/*background-color: rgba(43, 51, 63, 0);*/
}

@media only screen 
and (max-width : 800px) {
    #fm-video {
		height: 300px;

    }
  
}

@media only screen 
and (device-width : 320px) 
and (device-height : 568px)  and (orientation : portrait)  { 
  .footer {
	height: 9%;
	flex-wrap: nowrap;
}

.logoaa{
  width: 10px;
}
}