@font-face {
    font-family: GothamBlack;
    src: url('Gotham-Black.ttf'); 
}
@font-face {
    font-family: GothamBold;
    src: url('Gotham-Bold.ttf'); 
}
@font-face {
    font-family: GothamBook;
    src: url('Gotham-Book.ttf'); 
}
@font-face {
    font-family: GothamMedium;
    src: url('Gotham-Medium.ttf'); 
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}

.contenedor-general{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    background-image: url(img/BL_Fondo-banner-final.png);
    /*background-color: #E4E4E4;*/
    height: 100vh;
    grid-template-areas:
    "area1 area1 area1 area1 area2 area2 area2 area2"
    "area1 area1 area1 area1 area2 area2 area2 area2"; 
}

.contenedor-central{
    grid-area: area1;
    /*background-color: #E4E4E4;*/
    position: relative;
}
    .icono{
        width: 400px;
        height: 150px;
        margin: 20px; 
        position: absolute;
        top: 0px;
        left: 20px;
    }

    .icono > img{
        width: 100%;
        height: 100%;
    }

    .icono2{
        width: 250px;
        height: 250px;
        margin: 20px; 
        position: absolute;
        top: -25px;
        right: -20px;
    }

    .icono2 > img{
        width: 100%;
        height: 100%;
    }

    .img-prin{
        width: 71%;
        min-width: 450px;
        margin: 140px auto 0px; 
        z-index: 2;
        left: 0;
        right: 0;
        position:absolute; 
    }

    #img-re{
        width: 100%;
    }
    
    .img-borde-inf{
        width: 50%;
        position:absolute; 
        bottom:0; 
        z-index: 1;

    }

    #img-bo{
        width: 100%;
        
    }

    #img-su{
        display: none;
        
    }
    #img-bo2{
        display: none;
        
    }

.contenedor-secundario{
    grid-area: area2;
    /*background-color: #E4E4E4;*/
    position: relative;
    margin: auto;
}   
    form{
        display: grid;
        /*margin: auto;*/
        align-items: center;
        width: 66%;
        /*border: #bbbcc1 5px solid;*/
        /*box-shadow: -20px 20px 0px 2px #bbbcc1;*/
        border-radius: 30px;
        background: white;
        grid-template-areas:
            "area3"
            "."
            "area4"
            "area5"
            "area6"
            "area7";

    }
    .div1{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        margin-top: 20px;
        row-gap: 20px;
        width: 100%;
        grid-template-areas:
        ". . . . . . . "
        "rs1 rs1 rs1 rs1 rs1 rs1 rs1"
        "rs4 rs4 rs4 rs4 rs4 rs4 rs4"
        "rs9 rs9 rs9 rs9 rs9 rs9 rs9"
        ". rs2 rs2 rs2 rs2 rs2 . "
        ". rs3 rs3 rs3 rs3 rs3 ."
        ;

    }

    .respon-1{
        grid-area: rs1;
        align-self: baseline;
        width: 100%;
        text-align: center;
     }

     .respon-4{
        grid-area: rs4;
        align-self: baseline;
        width: 40%;
        text-align: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
     }

     .respon-9{
        grid-area: rs9;
        align-self: baseline;
        width: 100%;
        text-align: center;
     }
 
     .respon-2{
         grid-area: rs2;
         
     }
 
     .respon-3{
         grid-area: rs3;
     }

     .div2{
         display: grid;
        grid-template-columns: repeat(7,1fr);

        row-gap: 10px;
        width: 100%;
        grid-template-areas:
        ". . . . . . . "
        ". area8 area8 area8 area8 area8 . "
        ". area9 area9 area9 area9 area9 . "
        ". area10 area10 area10 area10 area10 . "
        ". area11 area11 area11 area11 area11 . ";
    }

    #dni_re{
        width: 100%;
    }

    #celu_re{
        width: 100%
    }

    

    .titu2{
        color: #2b6e96;
        grid-area: area8;
        align-self: end;
    }

    .color-sub{
        font-weight: bold; 
        font-size: 35px;
        margin:  0 auto;
        
        
    }
    .colortitu1{
        color: #141386; 
        font-family: GothamBlack;

    }
    .colortitu2{
        background-color: #0177cb;
        border-radius: 15px;
        color: #fff; 
        position: relative;
        padding: 5px 9px;
        display: flex;
        font-family: GothamBlack;
    }

    .mes{
        font-size: 15px;
        padding: 3px 8px;

    }

    .hr{
        border-top: 1px solid black;
        height: 2px;
        max-width: 200px;
        padding: 0;
        margin: 20px auto 0 auto;
    }
    
    .color-sub-2{
        font-weight: 100; 
        font-size: 20px;
        margin:  10px auto;
        color: black; 
        font-family: GothamMedium;
    }

    .color-sub-sub{
        font-weight: 600; 
        color:  #939395; 
    }

    .titu3{
        grid-area: area9;
        align-self: end;
    }

    .titu4{
        grid-area: area10;
        display: grid;
        grid-template-columns: 30px 1fr;
        padding: 0px 0px 0px 20px;
        border: none;
        border-radius: 20px;
        background-color: #0177cb;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }

    .position{
        align-self: center;
    }

    .input {
        padding: 0px 10px;
        
        font-size: 15px;
        border: 1px solid #0177cb;
        border-radius: 18px 18px 18px 18px;
        }

    .titu5{
        grid-area: area11;
    }
    .div3{
        display: grid;
        row-gap: 10px;
       
        grid-template-columns: repeat(7,1fr);
        grid-template-rows: repeat(1,1fr);
        grid-template-areas:
        ". icor icor icor icor icor .";
    }
    #otro_1{
        width: 100%;
    }

   .nuevoo{
    width: 45px;
    height: 45px;
    min-height: 45px;
    min-width: 45px;
   }
    .respon-5{
        grid-area: icor;
    }

    #corre_re{
        width: 100%;
    }

    .div4{
        display: grid;
        grid-template-columns: repeat(7,1fr);
        row-gap: 10px;
        width: 100%;
        margin-bottom: 20px;
        grid-template-areas:
        ". . . area14 . . ."
        ". area12 area13 area13 area13 area13 area13"
        ". area15 area16 area16 area16 area16 area16"
        ". . . . . . .";
    }
    .titu9{
        grid-area: area15;
    }
    .titu10{
        grid-area: area16;
        margin-top: 20px;
        margin-left: -28px;
        font-family: GothamBook;
        font-size: 13px;
    }
    .titu6{
        grid-area: area12;
    }
    .titu7{
        grid-area: area13;
        margin-top: 20px;
        margin-left: -28px;
        font-family: GothamBook;
        font-size: 13px;
    }
    .titu8{
        grid-area: area14;
        margin-top: 10px;
    }
   
    #checkbox2,#checkbox1 {
    display: none;
    }
       
    .label1 {
        position: absolute;
        width: 22px;
        height: 22px;
        margin-top: 30px;
        margin-left: -10px;
        /*background-color: #D98918;*/
        border: 1px black solid;
        transform: translateY(-50%);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
        z-index: 1;
    }
    
    .label1:active:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: 15px;
        margin-left: 3px;
        background-color: #fff;
        transform: translateY(-50%);
        border-radius: 50%;
        /*box-shadow: inset 0 7px 10px #ffbeb8;*/
        transition: 0.2s ease width, 0.2s ease height;
    }
    
    .label1:hover:before {
        transform: translateY(-50%) scale(1.1);
        /*box-shadow: inset 0 7px 10px #ff9d96;*/
    }
    
    .label1:active {
        transform: translateY(-50%) scale(0.9);
    }
    
    #tick_mark {
        position: absolute;
        top: 0px;
        right: 0;
        left: 0;
        width: 15px;
        height: 15px;
        margin-left: 1px;
        margin-bottom: -5px;
        transform: rotateZ(-40deg);
    }
    
    #tick_mark:before, #tick_mark:after {
        content: "";
        position: absolute;
        background-color: #000;
        border-radius: 2px;
        opacity: 0;
        transition: 0.2s ease transform, 0.2s ease opacity;
    }
    
    #tick_mark:before {
        left: 0;
        bottom: 0;
        width: 4px;
        height: 10px;
        box-shadow: -2px 0 5px rgba(0,0,0,0.23);
        transform: translateY(-68px)
    }
    
    #tick_mark:after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        box-shadow: 0 3px 5px rgba(0,0,0,0.23);
        transform: translateX(78px)
    }
    
    #checkbox2:checked + label,#checkbox1:checked + label {
       /* background-color: #D98918;*/
    }
    
    #checkbox2:checked + label:before, #checkbox1:checked + label:before {
        width: 0;
        height: 0;
    }
    
    #checkbox2:checked + label #tick_mark:before, #checkbox2:checked + label #tick_mark:after ,
    #checkbox1:checked + label #tick_mark:before, #checkbox1:checked + label #tick_mark:after {
        transform: translate(0);
        opacity: 1;
    }
    select{
        width: 100%;
        height: 40px;
        background-color: none;
      border: 1px solid #0074C5;
      line-height: 0;
      font-size: 17px;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: #0074C5;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 2;
      font-family: GothamBook;
    }


    input[type="text"]{
    width: 100%;
      appearance: none;
      background-color: none;
      border: 1px solid #0074C5;
      line-height: 0;
      font-size: 17px;
      display: block;
      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: #0074C5;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 2;
      font-family: GothamBook;
    }

    input[type="text"]:hover{
        border: 1px solid #0074C5;
    }
    label{
        z-index: 2;
    }
    .img-secun{
        width: 50%;
        position:absolute; 
        top:0; 
        z-index: 1;
        right: 0;
    }

    .img-secun-refe{
        width: 50%;
        right: 0;
        left: 0;
        z-index: 1;
        margin: 0 auto;
        position:absolute;
        margin-top: 70px;
    }

    #img-su2{
        width: 25%;
        position: fixed;
        top: 0;
    }

    #img-ref{
        width: 90%;
    }   
    


    @media(max-width: 900px){
        form{
            display: grid;
            margin: -30px auto 50px;
            width: 70%;
            max-width: 1000px;
            z-index: 5;
        }
    
        .contenedor-general{
            display: grid;
            height: 100%;
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,1fr);
            grid-template-areas:
            "area1"
            "area2"; 
        }   
        .contenedor-central{
            grid-area: area1;
            position: relative;
    
        }
        .contenedor-secundario{
            grid-area: area2;
            position: relative;
           
        }
        .img-prin{
            z-index: 0;
            min-width: 0;
            width: 90%;
        }
    
        .icono {
            width: 300px;
            height: 200px;
            margin: 10px 5px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    
        .icono2 {
            width: 180px;
            height: 150px;
            margin: 20px;
            position: absolute;
            top: -21px;
            right: -20px;
        }
    
    }
    @media(max-width: 700px){
        .img-prin{
        margin:80px auto 0px;
        }
        .icono {
            width: 200px;
            height: 100px;
            margin: 10px 5px;
            position: absolute;
            top: 0px;
            left: 0px;
        }
    
        .icono2 {
            width: 125px;
            height: 130px;
            margin: 20px;
            position: absolute;
            top: -21px;
            right: -20px;
        }
        
        form{
            width: 90%;
            margin: -200px auto 30px; 
        }
    
        input[type="text"]{
            font-size: 15;
            padding: 7px 12px;
        }
    
        select{
            padding: 7px 12px;
        }
    
        input[type="text"]:focus{
            border: 1px solid #0074C5;
        }
    
        input[type="text"]:active{
            border: 1px solid #0074C5;
        }
    
        input[type="text"]:hover{
            border: 1px solid #0074C5;
        }
    
        .label1{
            width: 20px;
            height: 20px;
        }
    
        .label1:active:before {
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: #fff;
            transform: translateY(-10%);
            border-radius: 10%;
            /*box-shadow: inset 0 7px 10px #ffbeb8;*/
            transition: 0.5s ease width, 0.5s ease height;
        }
        .label1:hover:before {
            transform: translateY(-10%) scale(.9);
            /*box-shadow: inset 0 7px 10px #ff9d96;*/
        }
        
        .label1:active {
            transform: translateY(-10%) scale(0.5);
        }
    
        .div4{
            display: grid;
            grid-template-columns: repeat(7,1fr);
    
            row-gap: 10px;
            width: 100%;
            margin-bottom: 20px;
            grid-template-areas:
                ". . . area14 . . ."
                ". area12 area13 area13 area13 . ."
                ". area15 area16 area16 area16 area16 .";
        }
    
        #tick_mark:after {
            left: 2px;
            bottom: 3px;
            height: 3px;
        }
        #tick_mark:before {
            left: 1px;
            bottom: 3px;
           width: 3px;
        }
        .titu7,.titu10{
            grid-area: area13;
            margin-top: 20px;
            margin-left: -10px;
            font-family: GothamBook;
            font-size: 12px;
        }
        .titu10{
            grid-area: area16;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        
    }
       
        