
    @font-face {
        font-family: GothamBold;
        src: url('GothamBold.ttf'); 
    }
    @font-face {
        font-family: GothamBook;
        src: url('GothamBook.ttf'); 
    }
    @font-face {
        font-family: Gotham;
        src: url('Gotham\ Rounded\ Book.otf'); 
    }
    @font-face {
        font-family: GOTHAMROUNDEDBOLD;
        src: url('GOTHAMROUNDEDBOLD.TTF'); 
    }
    *{
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
    }
    html{
        width: 100%;
        height: 100%;
    }
    body {
    /*background: #f5f7f8;*/
    width: 100%;
    height: 100%;
    /* Ubicación de la imagen 
    background-image: url(fondodos.png);*/
    background-image: url(Fondo3000.png);
    /* Para dejar la imagen de fondo centrada, vertical y
    horizontalmente */
    background-position: center center;
    /* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
    /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: scroll;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: 100% 100%;
    /* Se muestra un color de fondo mientras se está cargando la imagen
    de fondo o si hay problemas para cargarla */
    }
    .grid-1 {
    display: grid;
    /*background: #222;*/
    width: 100%;
    height: 100%;
    grid-template-columns:40% 60%;
    }
    .grid-1 div {
    color: white;
    font-size: 20px;
    }
    .item-1 {
    /*background: url("girl-disinfecting-in-the-classroomlite.jpg") no-repeat scroll 20% 100%;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows:1fr 1fr;
    }
    
    .item-1 .subitem-1{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .item-1  .subitem-1 .subitemdos-2 {
        width:60%;

    }

    .item-1  .subitem-1 .subitemdos-2 .linea1{
        color: #ffffff;
        text-align:center;
        font-family:Gotham;
        font-size: 23px;
        background:#e81d76;
        padding: 0px 10px 0px 10px;
        
    }

    .item-1  .subitem-1 .subitemdos-2 .linea2{
        color: #0a169a;
        text-align:center;
        font-family:Gotham;
        font-size: 22.3px;
    }
    .linea1{
        margin-top:-210px;
    }

    .linea2{
        margin-top:-85px;
    }

    .item-1  .subitem-1 .subitemdos-2 .linea3{
        color: #0a169a;
        text-align:center;
        font-family: GOTHAMROUNDEDBOLD;
        font-size: 23px;
    }
    .item-1  .subitem-1 .subitemdos-2 h6{
        color: #c72573;
        text-align:center;
    }

    .item-1  .subitem-1 .subitemdos-2 .linea4{
        color: #c72573;
        text-align:center;
        font-family:GothamBook;
        font-size: 20px;
    }

    .item-1  .subitem-1 .subitemdos-2 .linea5{
        color: #c72573;
        text-align:center;
        font-family: GothamBold;
        font-size: 20px;
    }

    .item-2 {
        /*background: #ffffff;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .item-2 .subitemdos-2{
        text-align:center;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 5px;
    }

    .item-2 .subitemdos-2 h5{
        color: #0a169a;
        text-align:center;
        font-family: GothamBold;
        padding: .2em;
        font-size: 25px;
    }

    /************************/
    .form{
        background:white;
        height: 70%;
        width: 60%;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
    }
    .form .inputBox{
        position: relative;
        width: 100%;
        height: 49px;

        margin-top: 6px;
        margin-bottom: 10px;
    }
    .form .inputBox:last-child{
        margin-bottom: 0;
    }
    .form .inputBox span{
        position: absolute;
        top: 2px;
        left: 7px;
        padding: 7px;
        display: inline-block;
        font-size: 18px;
        color: #8f9091;
        font-family:GothamBook;
        font-weight: 300;
        transition: 0.5s;
        pointer-events: none;
    }
    .form .inputBox input{
        position: absolute;
        top: 0;
        left:0;
        box-sizing: border-box;
        width: 100%;
        background:  rgba(255,255,255,0.2);
        border: none;
        outline: none;
        padding: .8rem .4rem;
        border:1px solid #8f9091;
        font-size: 18px;
        letter-spacing: 1px;
        color: #8f9091;
        font-family:GothamBook;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    }
    .form .inputBox input:focus ~ span,
    .form .inputBox input:valid ~ span{
        transform: translateX(-10px) translateY(-23px);
        font-size: 12px;
    }
    .inputBox.success input{
        border-color:#2ecc71;
    }
    .inputBox.error input{
        border-color:#e74c3c;
    }

/**/
    .form .inputBox select{
        position: absolute;
        top: 0;
        left:0;
        box-sizing: border-box;
        width: 100%;
        background:  rgba(255,255,255,0.2);
        border: none;
        outline: none;
        padding: .5em 1em;
        border:1px solid #8f9091;
        border-right: 1px solid #8f9091;
        border-bottom : 1px solid #8f9091;
        font-size: 16px;
        letter-spacing: 1px;
        color: #8f9091;
        /*font-family:GothamRoundedMedium;*/
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    }
    .form .inputBox select:focus ~ span,
    .form .inputBox select:valid ~ span{
        transform: translateX(-10px) translateY(-23px);
        font-size: 12px;
    }
    .inputBox.success select{
        border-color:#2ecc71;
    }
    .inputBox.error select{
        border-color:#e74c3c;
    }
/**/
    .inputBox i {
        position: absolute;
        right: 7px;
        top: 7px;
        visibility: hidden;
        font-size: 30px;
    }
    .inputBox.success i.fa-check-circle{
        color: #2ecc71;
        visibility: visible;
    }
    .inputBox.error i.fa-exclamation-circle{
        color: #e74c3c;
        visibility: visible;
    }
    .inputBox small {
        color: #e74c3c;
        position: absolute;
        bottom: -15px!important;
        left: 21px;
        visibility: hidden;
        font-size: 11px;
    }
    .inputBox.error small{
        visibility: visible;
    }
    .form .inputBoxdos {
        width: 100%;
        position: relative;
    }
    .form .inputBoxdos input[type="submit"]{
        background: #e81d76;
        color: #fff;
        font-family:GothamBook;
        cursor: pointer;
        margin-top: 50px;
        font-weight: 600;
    }
    .form .inputBoxdos input[type="submit"]:hover{
        background: #0463ab;
    }
    .form .inputBoxdos input[type="button"]{
        background: #c72573;
        color: #fff;
        /*font-family:GothamRoundedMedium;*/
        cursor: pointer;
        margin-top: 20px;
        font-weight: 600;

       
    }
    .form .inputBoxdos input[type="button"]:hover{
        background: #0463ab;
    }
    .form .inputBoxdos input {
        position: relative;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        border: none;
        outline: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 1px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.05);
        height: 100%;
    }


    .labelform{
        color:#808080;
        font-family:GothamRoundedBook;
        font-size: 13px;
    }
    .centradolabel{
        display: flex;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
    .centradoinput{
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .cuadroinpu4 {
        
        width: 50% !important;
        margin: 0 auto;
    }
    .cuadroinpu5 {
        width: 105px !important;
        height: 35px;
        margin: 0 auto;
    }


    /*checkbox1*/
    input#checkbox1:checked {
        background-color: #808080;
        box-shadow: inset 0px 0px 0px 4px #ffffff;
        transition: 0.5s;
    }
    
    input#checkbox1 {
        position: relative;
        right: 0;
        margin-left: 4px;
        width: calc(2em - 3px);
        height: calc(2em - 3px);
        float: left;
        margin: 0px 0px 0px 0px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid  #808080;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
    }

     /*checkbox2*/
     input#checkbox2:checked {
        background-color: #808080;
        box-shadow: inset 0px 0px 0px 4px #ffffff;
        transition: 0.5s;
    }
    input#checkbox2 {
        position: relative;
        margin-left: 4px;
        width: calc(2em - 3px);
        height: calc(2em - 3px);
        float: left;
        margin: 0px 0px 0px 0px;
        border-radius: 50%;
        vertical-align: middle;
        border: 1px solid  #808080;
        -webkit-appearance: none;
        outline: none;
        cursor: pointer;
        transition: 0.5s;
    }

/****/
    .check_estilos1{
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 1fr;
        margin-left: 25px;
        margin-right: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .check_estilos2{
        display: grid;
        grid-template-columns: 10% 90%;
        grid-template-rows: 1fr;
        margin-left: 25px;
        margin-right: 0px;
        margin-top: 2px;
        margin-bottom: 1px;
    }

    .solocelular{
         display:none;
    }
    /*******************************/

    @media (min-width: 1600px) {

        .item-1  .subitem-1 .subitemdos-2 .linea1{
            font-size: 30px;
        }
        .item-1  .subitem-1 .subitemdos-2 .linea2{
            font-size: 28px;
        }
        
        .item-1  .subitem-1 .subitemdos-2 .linea3{
            font-size: 30px;
        }

        .linea1{
            margin-top:-280px;
        }
    
        .linea2{
            margin-top:-105px;
        }

        .item-2 .subitemdos-2 h5{
            padding: 4px;
            margin-bottom: 10px;
            font-size: 36px;
        }

        .form .inputBox{
            margin-top:16px;
            margin-bottom: 30px;
        }

        .form .inputBox input{
            padding: .8em .4em;
        }

        .form .inputBoxdos input[type="button"]{
            margin-top: 25px;
            font-weight: 600;
            width: 100px;
            height: 42px;
        }

        .form .inputBoxdos input {
            font-size: 20px;
        }
    
      }

    @media (max-width: 1000px) {
        body {
            
            background-image: url(FondoVerti.png);
            
            }

        .item-1  .subitem-1 .subitemdos-2 .linea1{
            font-size: 20px;
        }
        .item-1  .subitem-1 .subitemdos-2 .linea2{
            font-size: 18px;
        }
        
        .item-1  .subitem-1 .subitemdos-2 .linea3{
            font-size: 20px;
        }

        .grid-1 {
            grid-template-columns:100%;
            }
        
        .item-1 {
            width: 72%;
            grid-template-rows:1fr ;
            }

        .linea1{
            margin-top:-140px;
        }

        .linea2{
            margin-top:-55px;
        }

        .subitemdos-1 {
            margin-top: 80px;
            margin-bottom: -50px;
        }

       
    }

    @media (max-width: 700px) {
        body {
            
        background-image: url(FondoVerti.png);
            
        }

        .item-1  .subitem-1 .subitemdos-2 .linea1{
            font-size: 15px;
        }
        .item-1  .subitem-1 .subitemdos-2 .linea2{
            font-size: 14.5px;
        }
        
        .item-1  .subitem-1 .subitemdos-2 .linea3{
            font-size: 16px;
        }

        .grid-1 {
            grid-template-columns:100%;
            }
        
        .item-1 {
            width: 72%;
            grid-template-rows:1fr ;
            }

        .linea1{
            margin-top:-100px;
        }

        .linea2{
            margin-top:-30px;
        }

        .subitemdos-1 {
            margin-top: 100px;
            margin-bottom: -50px;
        }

        .item-2 .subitemdos-2 h5{
            padding: 0px;
            margin-bottom: 1px;
            font-size: 20px;
        }

        .form .inputBoxdos input[type="button"]{
            margin-top: 15px;
        }

       
    }

    @media (max-width: 400px) {
        body {
            
        background-image: url(FondoVerti.png);
            
        }

        .item-1  .subitem-1 .subitemdos-2 .linea1{
            font-size: 13px;
        }
        .item-1  .subitem-1 .subitemdos-2 .linea2{
            font-size: 11.7px;
        }
        
        .item-1  .subitem-1 .subitemdos-2 .linea3{
            font-size: 14px;
        }

        .item-2 .subitemdos-2 h5{
            padding: 0px;
            margin-bottom: 1px;
            font-size: 17px;
        }

        .form .inputBoxdos input[type="button"]{
            margin-top: 15px;
        }

        .form .inputBox span{
            
            font-size: 14px;
            
        }
        
        .form .inputBox select {
            padding: 6px 18px;
            font-size: 14px;
        }
      
        
       
    }

      
    

 