/*fondos de letra*/
@font-face {
	font-family: Gotham-Bold;
	src: url('../fonts/Gotham-Bold.otf'); 
  }
@font-face {
	font-family: Gotham-Light;
	src: url('../fonts/Gotham-Light.otf'); 
  }
@font-face {
	font-family: Gotham-Book;
	src: url('../fonts/Gotham-Book.otf'); 
  }
@font-face {
	font-family: GothamCond-Bold;
	src: url('../fonts/GothamCond-Bold.otf'); 
  }
/*fondos*/
.ctar{
	display: inline-block;
	padding: 7px 0;
	width: 100px;
	border-radius: 1px solid #ffff;
	border-radius: 50px;
	text-align: center;
	text-decoration: none;
	color: blue;
	background: white;
}
.modall-container{
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index:1000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modall {
    width: 345px;
    height: 468px;
    background: #9f9b9b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    /* overflow: hidden; */
    border-radius: 50px;
    padding: 10px;
}
.closer {
    position: absolute;
    top: -15px;
    right: -17px;
    display: inline;
    width: 51px;
    height: 45px;
    background: url(../img2/imagenes/x.png);
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.closer:hover {
	background: url(../img2/imagenes/x_yellow.png);
	position: absolute;
    top: -15px;
    right: -17px;
    display: inline;
    width: 51px;
    height: 45px;
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}
.modal-closer{
	transform: translateY(-200%);
}
.modall .cuerpo .ups > img {
    height: 100%;
}
.modall .cuerpo {
    background-color: #afafaf;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    align-items: center;
    margin: 0px;
    text-align: center;
    /* line-height: 75px; */
    font-size: 30px;
    /* border: 2px solid black; */
    padding: 10px;
}
.modall .cuerpo .ups {
    order: 1;
    background-color: #afafaf;
    width: 100%;
    height: 23%;
    border-radius: 24px;
    align-items: center;
    margin: 0px;
    text-align: center;
    /* line-height: 75px; */
    /* border: 2px solid black; */
	padding: 10px;
	padding: 0px 10px 0px 10px;
}
.modall .cuerpo .linea1 {
    order: 2;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 20%;
    border-radius: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 40px 0px 10px 0px; */
    text-align: left;
    /* padding: 0px 10px 0px 25px; */
    display: flex;
    font-size: 80px;
}
.modall .cuerpo .linea1 .labeel {
	
	font-family: GothamCond-Bold;
}

.modall .cuerpo .linea2 {
    order: 3;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 8%;
    border-radius: 24px;
	align-items: center;
    margin: 0px;
    text-align: center;
    padding: 0px 0px 0px 0px;
}
.modall .cuerpo .linea2 label {
	font-size: 25px;
	font-family: Gotham-Light;
}
.modall .cuerpo .linea3 {
        order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 15%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    /* text-align: left; */
    padding: 0px 0px 0px 0px;
}
.modall .cuerpo .linea3 label {
	font-size: 24px;
    font-family: Gotham-Light ;
    z-index: 1;
}
.modall .cuerpomuybueno .linea4 {
    order: 5;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 152px;
    /* border-radius: 24px; */
    align-items: center;
    /* justify-content: right; */
    /* margin: 31px 0px 0px 0px; */
    /* text-align: center; */
    /* padding: 0px 10px 0px 10px; */
    /* font-family: Gotham-Light; */
    /* font-size: 25px;*/
}

.modall .cuerpo .linea5 {
    order: 6;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 12%;
    display: flex;
    /* border-radius: 24px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin: 0px; */
    /* text-align: center; */
    /* margin-bottom: 12px; */
    /* padding: 0px 27px 0px 0px; */
    /* margin-top: 30px;*/
}
.modall .cuerpo .linea5  a.ingresa_tu {
	width: 100%;
    height: 100%;
	background: url(../img_modal_alumno/color.png) no-repeat;
	background-size: 317px 55px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
}
.modall .cuerpo .linea5  a.reintentar {
	width: 100%;
    height: 100%;
	background: url(../img_modal_alumno/reintentar.png) no-repeat;
	background-size: 230px 45px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
}
.modall .cuerpo .linea5  a.ingresa_tu:hover {
	width: 100%;
    height: 100%;
    background: url(../img_modal_alumno/bn.png) no-repeat;
    background-size: 250px 55px;
    /* background-size: cover; */
    background-position: center center;
    /* background-attachment: fixed; */
    justify-content: center;
    align-items: center;
}
.modall .cuerpo .linea6 {
    order: 7;
    background-color: #e5e5e5;
    color: black;
    width: 324px;
    display: flex;
    height: 15%;
    /* border-radius: 24px; */
    align-items: center;
    justify-content: center;
    text-align: left;
    /* margin: 0px; */
    margin-left: -10px;
    padding: 0px 10px 0px 10px;
    margin-top: -10px;
}
.hyphenation {
	word-break: break-all;
	/* Non standard for webkit */
	word-break: break-word;
-webkit-hyphens: auto;
  -moz-hyphens: auto;
   -ms-hyphens: auto;
       hyphens: auto;
       text-align: initial;
}
.modall .cuerpo .linea6 label {
	font-size: 15px;
	text-align: left;
	font-family: Gotham-Light ;
}
.modall .cuerpomuybueno .linea4 .numero {
    font-family: GothamCond-Bold;
    font-size: 50px;
    color: white;
    position: relative;
    top: -115px;
    left: 48px;
    z-index: 5;
}
.modall .cuerpomuybueno .linea4 img {
    /* coment */
    height: 245px;
    width: 262px;

}
.modall .cuerpololamento .linea4 img {
    /* coment */
    height: 245px;
    width: 262px;

}



@media screen and (max-width:1000px){
	section{
		flex-direction: column-reverse;
		/*align-content: center;*/
	}
	section > img{
		height: 40%;
	}
}
/* iphone 6+ 7+ 8+ */
@media only screen 
and (min-device-width : 401px) 
and (max-device-width : 700px) 
and (orientation : portrait) { 
	/* STYLES GO HERE */
	.modall {
        width: 270px;
        height: 450px;
	}
	.modall .cuerpo .linea6 {
		width: 250px;
    }
    
    .modall .cuerpo .linea1 {
            order: 2;
            background-color: #afafaf;
            color: white;
            width: 100%;
            height: 20%;
            border-radius: 24px;
            justify-content: center;
            align-items: center;
            margin: 0px 0px 0px 0px;
            text-align: center;
            padding: 0px 0px 0px 0px;
            display: flex;
    }
	.modall .cuerpo .linea6 label {
		font-size: 11.5px;
	}
    .modall .cuerpo .linea1 .labeel {
        font-size: 75px;
        font-family: GothamCond-Bold;
    }
    .modall .cuerpo .linea1 .labeel .labell {
        font-size: 20px;
        font-family: Gotham-Light;
    }
	.modall .cuerpo .linea2 label {
		font-size: 20px;
    }
    .modall .cuerpo .linea3 label {
        font-size: 17px;
        font-family: Gotham-Light;
    }
    .modall .cuerpo .linea3 {
    order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 15%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    /* text-align: left; */
    padding: 0px 0px 0px 0px;
    }
	.modall .cuerpomuybueno .linea4 {
		height: 39%;
	}
	.modall .cuerpomuybueno .linea4 a.instruc_pago {
		background-size: 231px 43px;
	}
    .modall .cuerpo .linea5 {
        order: 6;
        background-color: #afafaf;
        color: white;
        width: 100%;
        height: 9%;
        display: flex;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0px 0px 0px 0px;
    }
	.modall .cuerpo .linea5 a.ingresa_tu {
		background-size: 231px 43px;
    }

    .modall .cuerpo .linea5 a.ingresa_tu:hover {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/bn.png) no-repeat;
        background-size: 229px 43px;
        background-position: center center;
        background-attachment: fixed;
        justify-content: center;
        align-items: center;
    }
}
/* iphone 6 7 8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 400px) 
and (orientation : portrait) {
	 /* STYLES GO HERE */ 
	.modall {
		width: 300px;
		height: 450px;
	}
	.modall .cuerpo .linea6 {
		width: 280px;
    }
    .modall .cuerpo .linea1 {
        order: 2;
        background-color: #afafaf;
        color: white;
        width: 100%;
        height: 20%;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        /* margin: 0px 0px 0px 0px; */
        /* text-align: left; */
        /* padding: 0px 10px 0px 25px; */
        display: flex;
    }
	.modall .cuerpo .linea6 label {
		font-size: 13px;
	}
    .modall .cuerpo .linea1 .labeel {
        font-size: 60px;
        font-family: GothamCond-Bold;
    }
    .modall .cuerpo .linea1 .labeel .labell {
        font-size: 20px;
        font-family: Gotham-Light;
    }
	.modall .cuerpo .linea2 label {
		font-size: 20px;
    }
    .modall .cuerpo .linea3 label {
        font-size: 19px;
        font-family: Gotham-Light;
    }
	.modall .cuerpomuybueno .linea4 {
		height: 43%;
	}
	.modall .cuerpomuybueno .linea4 a.instruc_pago {
		background-size: 263px 45px;
    }
    .modall .cuerpo .linea3 {
    order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 15%;
    /* border-radius: 24px; */
    align-items: center;
    justify-content: center;
    /* margin: 39px 0px 0px 0px; */
    /* text-align: left; */
    /* padding: 0px 10px 0px 25px;*/
    }
    .modall .cuerpo .linea5 {
        order: 6;
        background-color: #afafaf;
        color: white;
        width: 100%;
        height: 11%;
        display: flex;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        margin: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        text-align: center;
        margin-bottom: 15px;
        padding: 0px 10px 0px 10px;
        margin-top: -5px;
    }
	.modall .cuerpo .linea5 a.ingresa_tu {
		background-size: 263px 45px;
	}
}

@media only screen 
and (max-width : 374px) and (orientation : portrait) {
    	/* STYLES GO HERE */
	.modall {
		width: 300px;
		height: 450px;
	}
	.modall .cuerpo .linea6 {
		width: 280px;
	}
	.modall .cuerpo .linea6 label {
		font-size: 13px;
    }
    .modall .cuerpo .linea1 {
            order: 2;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 20%;
    border-radius: 24px;
    align-items: center;
    /* margin: 0px 0px 0px 0px; */
    /* text-align: left; */
    /* padding: 0px 10px 0px 25px; */
    display: flex;
    }
    .modall .cuerpo .linea1 .labeel {
        font-size: 55px;
        font-family: GothamCond-Bold;
    }
    .modall .cuerpo .linea1 .labeel .labell {
        font-size: 21px;
        font-family: Gotham-Light;
    }
    .modall .cuerpo .linea3 {
          order: 4;
        background-color: #afafaf;
        color: white;
        width: 100%;
        display: flex;
        height: 15%;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        margin: 0px 0px 0px 0px;
        /* text-align: left; */
        padding: 0px 0px 0px 0px;
    }
    .modall .cuerpo .linea3 label {
        font-size: 19px;
        font-family: Gotham-Light;
    }
	.modall .cuerpomuybueno .linea4 {
		height: 40%;
	}
	.modall .cuerpomuybueno .linea4 a.instruc_pago {
		background-size: 263px 45px;
	}
	.modall .cuerpo .linea5 {
        order: 6;
        background-color: #afafaf;
        color: white;
        width: 100%;
        height: 12%;
        display: flex;
        border-radius: 24px;
        align-items: center;
        justify-content: center;
        margin: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        text-align: center;
        margin-bottom: 15px;
        padding: 0px 10px 0px 10px;
        margin-top: -8px;
    }
	.modall .cuerpo .linea5 a.ingresa_tu {
		background-size: 245px 45px;
	}
}

@media only screen 
and (max-width : 330px) and (orientation : portrait) {
    	/* STYLES GO HERE */
	.modall {
        width: 260px;
		height: 450px;
	}
	.modall .cuerpo .linea6 {
        width: 240px;
	}
	.modall .cuerpo .linea6 label {
        font-size: 11.5px;
	}
	.modall .cuerpo .linea1 .labeel {
           font-size: 56px;
            font-family: Gotham-Bold;
            font-family: GothamCond-Bold;
    }


    .modall .cuerpo .linea1 .labeel .labell {
        font-size: 18px;
        font-family: Gotham-Light;
    }

        .modall .cuerpo .linea2 label {
    font-size: 22px;
    font-family: Gotham-Light;
}
    .modall .cuerpo .linea3 {
           order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 15%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    /* text-align: left; */
    padding: 0px 0px 0px 0px;
    }
	.modall .cuerpo .linea3 label {
        font-size: 16px;
        font-family: Gotham-Light;
    }
	.modall .cuerpomuybueno .linea4 {
		height: 38%;
	}
	.modall .cuerpomuybueno .linea4 a.instruc_pago {
		background-size: 224px 45px;
	}
	.modall .cuerpo .linea5 {
       order: 6;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    }
	.modall .cuerpo .linea5 a.ingresa_tu {
		background-size: 224px 45px;
    }
    .modall .cuerpo .linea5  a.ingresa_tu {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/color.png) no-repeat;
        background-size: 200px 45px;
        /* background-size: cover; */
        background-position: center center;
        /* background-attachment: fixed; */
        justify-content: center;
        align-items: center;
    }
    .modall .cuerpo .linea5  a.reintentar {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/reintentar.png) no-repeat;
        background-size: 200px 45px;
        /* background-size: cover; */
        background-position: center center;
        /* background-attachment: fixed; */
        justify-content: center;
        align-items: center;
    }
    .modall .cuerpo .linea5  a.ingresa_tu:hover {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/bn.png) no-repeat;
        background-size: 200px 50px;
        /* background-size: cover; */
        background-position: center center;
        /* background-attachment: fixed; */
        justify-content: center;
        align-items: center;
    }

    .modall .cuerpo .ups {
    order: 1;
    background-color: #afafaf;
    width: 100%;
    height: 29%;
    border-radius: 24px;
    align-items: center;
    margin: 0px;
    text-align: center;
    line-height: 75px;
    border: 0px solid black;
    padding: 10px;
    padding: 0px 10px 0px 10px;
}
}
@media only screen 
and (max-width : 290px) and (orientation : portrait) {
    	/* STYLES GO HERE */
	.modall {
        width: 235px;
        height: 411px;
	}
	.modall .cuerpo .linea6 {
        width: 215px;
	}
	.modall .cuerpo .linea6 label {
        font-size: 10.5px;
	}
	.modall .cuerpo .linea1 .labeel {
           font-size: 55px;
    font-family: 'GothamCond-Bold';
    }
    .modall .cuerpo .linea1 .labeel .labell {
        font-size: 15px;
        font-family: Gotham-Light;
    }
    .modall .cuerpo .linea3 {
           order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 15%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    /* text-align: left; */
    padding: 0px 0px 0px 0px;
    }
	.modall .cuerpo .linea3 label {
        font-size: 14px;
        font-family: Gotham-Light;
    }
    .modall .cuerpo .linea3 {
     order: 4;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 9%;
    /* border-radius: 24px; */
    align-items: center;
    justify-content: center;
    /* margin: 13px 0px 14px 0px; */
    text-align: left;
    /* padding: 0px 10px 0px 25px;*/
    }
	.modall .cuerpomuybueno .linea4 {
		height: 11%;
    }
    .modall .cuerpo .linea2 {
    order: 3;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 8%;
    border-radius: 24px;
    align-items: center;
    margin: 0px;
    text-align: center;
    padding: 0px 0px 0px 0px;
    }

    .modall .cuerpo .linea2 label {
    font-size: 18px;
    font-family: Gotham-Light;
}
    .modall .cuerpomuybueno .linea4 {
           order: 5;
    background-color: #afafaf;
    color: white;
    width: 100%;
    display: flex;
    height: 53%;
    border-radius: 24px;
    align-items: center;
    justify-content: center;


    }
	.modall .cuerpomuybueno .linea4 a.instruc_pago {
		background-size: 210px 40px;
	}
    .modall .cuerpo .linea5 {
    order: 6;
    background-color: #afafaf;
    color: white;
    width: 100%;
    height: 12%;
    display: flex;
    border-radius: 24px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    padding: 0px 10px 0px 10px;
    margin-top: -43px;
    }
	.modall .cuerpo .linea5 a.ingresa_tu {
		background-size: 210px 40px;
    }
    .modall .cuerpo .linea5 a.ingresa_tu {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/color.png) no-repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
            background-size: 172px 40px;

    }
    .modall .cuerpo .linea5 a.reintentar {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/reintentar.png) no-repeat;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
            background-size: 172px 40px;

    }
    .modall .cuerpo .linea5  a.ingresa_tu:hover {
        width: 100%;
        height: 100%;
        background: url(../img_modal_alumno/bn.png) no-repeat;
            background-size: 172px 40px;
    }
    .modall .cuerpo .ups {
        order: 1;
        background-color: #afafaf;
        width: 100%;
        height: 25%;
        border-radius: 24px;
        align-items: center;
        margin: 0px;
        text-align: center;
        line-height: 75px;
        border: 0px solid black;
        padding: 10px;
        padding: 0px 10px 0px 10px;
    }

}


